#*
 * Project Burnet
 *
 * Copyright IBM, Corp. 2013
 *
 * Authors:
 *  Hongliang Wang <hlwanghl@cn.ibm.com>
 *
 * All Rights Reserved.
 *#
#encoding UTF-8
#import gettext
#def _($arg1)
    $arg1
#end def
#def _t($arg1)
    $arg1
#end def
#if $lang.lang[0] != "en_US"
    #silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
    #silent _ = t.gettext
    #silent _t = t.gettext
#end if
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Burnet</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<link rel="stylesheet" href="css/theme-default.min.css">
<script src="libs/modernizr.custom.76777.js"></script>

<!-- This is used for detecting if the UI needs to be built -->
<style type="text/css">
#buildme {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#buildme div {
    background-color: #FFB2C0;
    border-style: solid;
    border-color: #FF0000;
    padding: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
</style>
</head>
<body>
<div class="container">
<header class="topbar">
	<h1 id="logo"><img alt="Project Burnet" src="images/theme-default/logo-white.png"></h1>
	<ul class="nav-top">
		<li>
			<a id="user" href="javascript:void(0);">
				<span id="username">Lise W. Noble</span>
			</a>
		</li>
	</ul>
</header>
<div class="content">
	<nav class="navbar">
		<ul id="nav-menu" class="nav-menu">
			<li>
				<a class="item current" href="guest.html">$_("Guests")</a>
			</li>
			<li class="menu-arrow"></li>
		</ul>
	</nav>
	<div id="main">

	</div>
</div>
</div>
<script src="libs/jquery-1.10.0.min.js"></script>
<script src="js/burnet.min.js"></script>

<div id="buildme">
<div>Oops!  It looks like I am running from a source tree and you forgot to build!
Please run the following command and reload this page:
<p><code>python setup.py build</code></p>
</div>
</div>
<script>
burnet.main();
</script>
</body>
</html>
