#unicode UTF-8
#import gettext
#def _($arg1)
    $arg1
#end def
#def _t($arg1)
    $arg1
#end def
#if $lang.lang[0] != "en_US"
    #silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
    #silent _ = t.gettext
    #silent _t = t.gettext
#end if
<!doctype html>
<html class="no-js" lang=$lang.lang[0]>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Project Kimchi</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/dev.base.css">
    <link rel="stylesheet" href="css/dev.style.css">
    <link rel="stylesheet" href="css/dev.jquery-ui.css">
    <link rel="stylesheet" href="css/dev.main.css">

    <script src="js/modernizr.custom.2.6.2.min.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <script src="js/dev.main.js"></script>
</head>

<body class="theme-blue home page page-id-33 page-template-default page-slug-index single-author singular">
    <header>
        <section id="global-nav">
            <nav>
                <div class="constrain">
                    <ul id="projects" class="projects">
                        <li class="project selected"><a href="#" title="localhost">localhost</a></li>
                    </ul>
                    <ul class="links">
                        <li class="dropdown"><a href="#">$_("Host")</a>
                            <ul>
                                <li><a href="#">$_("Reboot")</a></li>
                                <li><a href="#">$_("Shutdown")</a></li>
                                <li><a href="#">$_("SOS Report")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>

    <div id="container">
        <div id="logo-events" class="constrain clearfix">
            <h2 class="logo"><a href="/" title="Project Kimchi">$_("Project Kimchi")</a></h2>
            <div id="Lang">
            $_("Language:")
            <select id="localLang">
                <option value="en_US" selected>English (United States)</option>
                <option value="zh_CN">中文（简体）</option>
                <option value="pt_BR">Português (Brasil)</option>
            </select>
            </div>
        </div>

        <nav id="main" class="constrain clearfix">
            <div class="menu-top-container">
                <ul id="menu-top" class="menu">
                    <li class="menu-item"><a href="#">$_("Guests")</a></li>
                    <li class="menu-item"><a href="#">$_("Storage")</a></li>
                    <li class="menu-item"><a href="#">$_("Networks")</a></li>
                    <li class="menu-item"><a href="#">$_("Statistics")</a></li>
                    <li class="menu-item"><a href="#">$_("About")</a></li>
                </ul>
            </div>
        </nav>

        <div id="content-wrapper" class="clearfix row">
            <div class="content-full full-width twelve columns">
                <div id="content">

                  <h2>$_("Virtual Machines")</h2>
                  <ul id="vm-toolbar" class="vm-toolbar">
                    <li><a class="icon-desktop" href="#">$_("Display")</a></li>
                    <li><a class="icon-play" href="#">$_("Power On")</a></li>
                    <li><a class="icon-off" href="#">$_("Power Off")</a></li>
                    <li><a class="icon-cogs" href="#">$_("Settings")</a></li>
                    <li><a class="icon-trash" href="#">$_("Delete")</a></li>
                    <li><a class="icon-wrench" href="#">$_("More...")</a></li>
                  </ul>

                  <div id="vms">
                  </div>
                  <hr/>

                  <h2>$_("Templates")</h2>
                  <ul id="template-toolbar" class="vm-toolbar">
                    <li><a class="icon-plus" href="#">$_("Create VM")</a></li>
                    <li><a class="icon-trash" href="#">$_("Delete")</a></li>
                    <li><a class="icon-cogs" href="#">$_("Settings")</a></li>
                  </ul>

                  <ul id="breadcrumbs">
                    <li><a class="icon-angle-right">templates</a></li>
                  </ul>

                  <div id="templates">
                  </div>

                  <hr/>
                  <h2>$_("Custom")</h2>
                  <div id="custom">
                  </div>

                  <div style="clear: both">
                  </div>

                </div>
            </div>
        </div>
    </div>

<div id="dialog-delete-vms-confirm" title="Delete VMs" style="display: none">
<p><span class="icon-warning-sign icon-2x" style="float: left; margin: 0 15px 0px 0;"></span>
The selected VMs and all associated data will be deleted!  Are you sure?</p>
</div>

<div id="dialog-delete-templates-confirm" title="Delete templates" style="display: none">
<p><span class="icon-warning-sign icon-2x" style="float: left; margin: 0 15px 0px 0;"></span>
The selected templates and all associated data will be deleted!  Are you sure?</p>
</div>

    <footer class="clearfix simple">
        <div class="row">
        </div>
        <div class="constrain">
            <div id="legal">
                <ul class="footer-site-links">
                    <li><a class="icon-group" href="#">$_("Forum")</a></li>
                    <li><a class="icon-wrench" href="#">$_("API")</a></li>
                    <li><a class="icon-twitter" href="#">$_("Twitter")</a></li>
                    <li><a class="icon-comments" href="#">$_("IRC")</a></li>
                </ul>
                <p class="copyright">
                    Copyright 2013 <a href="http://www.ibm.com/">IBM, Corp</a>.<br>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
