#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013
 *
 * Authors:
 *  Hongliang Wang <hlwanghl@cn.ibm.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#def _($arg1)
    $arg1
#end def
#def _t($arg1)
    $arg1
#end def
#if $lang.lang[0] != "en_US"
    #silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
    #silent _ = t.gettext
    #silent _t = t.gettext
#end if
		<li id="{name}">
			<div class="sortable guest-type">
				<div class="guest-general">
					<h2 class="title" title="{name}">{name}</h2>
				</div>
			</div>
			<div class="sortable guest-cpu">
				<div class="circle" data-value="{cpu_stats}"></div>
			</div>
			<div class="sortable guest-memory">
				<div class="circle" data-value="35"></div>
				<div class="subtitle">{memory}M</div>
			</div>
			<div class="sortable guest-storage">
				<div class="circle" data-value="65"></div>
				<div class="subtitle"></div>
			</div>
			<div class="sortable guest-tile">
				<div class="tile {state}">
					<img class="imgactive" alt="" src="{tile-src}" width="170px" height="110px">
					<img class="imgload" alt="" src="{load-src}" width="170px" height="110px">
				</div>
			</div>
			<div class="sortable guest-actions">
				<div class="top">
					<a class="btn vm-reset" data-vmstate="{state}" data-vm="{name}" href="javascript:void(0);"><span class="icon reset"></span></a>
					<a class="btn vm-start" data-vmstate="{state}" data-vm="{name}" href="javascript:void(0);"><span class="icon power-down"></span></a>
					<a class="btn vm-stop" data-vmstate="{state}" data-vm="{name}" href="javascript:void(0);"><span class="icon power-up"></span></a>
				</div>
				<div class="bottom">
					<div class="btn dropdown popable" data-vmstate="{state}" data-vm="{name}" style="width: 70px">
						<span class="text">$_("Actions")</span><span class="arrow"></span>
						<div class="popover actionsheet right-side" style="width: 250px">
							<a class="button-big vm-vnc" data-vm="{name}">VNC</a>
							<a class="button-big red vm-delete" data-vm="{name}">$_("Delete")</a>
						</div>
					</div>
				</div>
			</div>
		</li>
