#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
        <li name="guest" class="guest">
            <div class="sortable guest-type">
                <div class="guest-general">
                    <h2 class="title" title="{name}">{name}</h2>
                </div>
                <div class="guest-pending hide-content">
                    <span class="icon"></span><span class="text"></span>
                </div>
            </div>
            <div name="cpu_utilization" class="sortable">
                <div class="circleGauge"></div>
            </div>
            <div name="io_throughput" class="sortable">
                <div class="circleGauge"></div>
                <div class="subtitle">KB/s</div>
            </div>
            <div name="net_throughput" class="sortable">
                <div class="circleGauge"></div>
                <div class="subtitle">KB/s</div>
            </div>
            <div name="guest-tile" class="sortable guest-tile">
                <div class="tile ">
                    <img class="imgactive" alt="" src="">
                    <img class="imgload" alt="" src="">
                    <img class="overlay shutoff-hidden" alt="$_("Start")" src="images/theme-default/icon-power-down.png" >
                </div>
            </div>
           <div class="sortable guest-actions" name="guest-actions">
                <div class="top">
                    <button class="btn reset-disabled" name="vm-reset" href="javascript:void(0);" title="$_("Reset")"><span class="icon reset"></span></button>
		    <button class="btn pause-disabled" name="vm-pause" href="javascript:void(0);" title="$_("Pause")"><span class="icon pause"></span></button>
		    <button class="btn resume-hidden" name="vm-resume" href="javascript:void(0);" title="$_("Resume")"><span class="icon resume"></span></button>
                    <button class="btn running-hidden" name="vm-start" href="javascript:void(0);" title="$_("Start")"><span class="icon power-down"></span></button>
                    <button class="btn shutoff-hidden" name="vm-poweroff" href="javascript:void(0);" title="$_("Power Off")"><span class="icon power-up"></span></button>
                </div>
                <div class="bottom">
                    <div name="actionmenu" class="btn dropdown popable vm-action" style="width: 126px">
                        <span class="text">$_("Actions")</span><span class="arrow"></span>
                        <div class="popover actionsheet right-side" style="width: 250px">
                            <button class="button-big shutoff-disabled" name="vm-console" ><span class="text">$_("Connect")</span></button>
                            <button class="button-big running-disabled" name="vm-clone"><span class="text">$_("Clone")</span></button>
                            <button class="button-big" name="vm-edit"><span class="text">$_("Edit")</span></button>
                            <button class="button-big shutoff-hidden non-persistent-disabled" name="vm-reset"><span class="text">$_("Reset")</span></button>
			    <button class="button-big pause-hidden non-persistent-disabled" name="vm-pause"><span class="text">$_("Pause")</span></button>
			    <button class="button-big resume-hidden" name="vm-resume"><span class="text">$_("Resume")</span></button>
                            <button class="button-big shutoff-hidden" name="vm-shutdown"><span class="text">$_("Shut Down")</span></button>
                            <button class="button-big running-hidden" name="vm-start"><span class="text">$_("Start")</span></button>
                            <button class="button-big shutoff-hidden" name="vm-poweroff"><span class="text">$_("Power Off")</span></button>
                            <button class="button-big red non-persistent-disabled" name="vm-delete">$_("Delete")</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
