#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2014
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<div id="guest-storage-add-window" class="window">
    <header>
        <h1 class="title">$_("Add a Storage Device to VM")</h1>
        <div class="close">X</div>
    </header>
    <div class="content">
        <form id="form-guest-storage-add">
            <section class="form-section">
                <h2>1. $_("Device Type")</h2>
                <div class="field">
                    <p class="text-help">
                        $_("The device type. Currently,  \"cdrom\" and \"disk\" are supported.")
                    </p>
                    <div class="btn dropdown popable">
                        <input id="guest-storage-type" name="type" value="cdrom" type="hidden" />
                        <span class="text" id="guest-storage-type-label"></span>
                        <span class="arrow"></span>
                        <div class="popover">
                            <ul class="select-list" id="guest-storage-type-list" data-target="guest-storage-type" data-label="guest-storage-type-label"></ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="volume-section hidden">
                <section class="form-section">
                    <h2>2. $_("Storage Pool")</h2>
                    <div class="field storage-field">
                        <p class="text-help">
                            $_("Storage pool which volume located in")
                        </p>
                        <div class="btn dropdown popable">
                            <input value="default" id="guest-disk-pool" name="pool" type="hidden"/>
                            <span class="text" id="guest-disk-pool-label">default</span><span class="arrow"></span>
                            <div class="popover" style="width: 100%">
                                <ul class="select-list" id="guest-add-storage-pool-list" data-target="guest-disk-pool" data-label="guest-disk-pool-label"></ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="form-section">
                    <h2>3. $_("Storage Volume")</h2>
                    <div class="field storage-field">
                        <p class="text-help">
                            $_("Storage volume to be attached")
                        </p>
                        <div class="btn dropdown popable" id="guest-disk">
                            <input id="guest-disk-vol" name="vol" type="hidden">
                            <span class="text" id="guest-disk-vol-label"></span><span class="arrow"></span>
                            <div class="popover" style="width: 100%">
                                <ul class="select-list" id="guest-add-storage-pool-list" data-target="guest-disk-vol" data-label="guest-disk-vol-label"></ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="path-section">
                <section class="form-section">
                    <h2>2. $_("File Path")</h2>
                    <div class="field">
                        <p class="text-help">
                            $_("The ISO file path in the server for CDROM.")
                        </p>
                        <input type="text" class="text" name="path" />
                    </div>
                </section>
            </div>
            </fieldset>
        </form>
    </div>
    <footer>
        <div class="btn-group">
            <button id="guest-storage-button-add" class="btn-normal" disabled="disabled">
            <span class="text">$_("Attach")</span>
            </button>
        </div>
    </footer>
</div>
<script type="text/javascript">
    kimchi.guest_storage_add_main();
</script>
