#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013
 *
 * Authors:
 *  Hongliang Wang <hlwang@linux.vnet.ibm.com>
 *
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext

<div id="guest-edit-window" class="window">
    <header>
        <h1 class="title">$_("Edit Guest")</h1>
        <div class="close">X</div>
    </header>
    <div class="content">
        <form id="form-guest-edit">
            <fieldset class="guest-edit-fieldset">
                <div>
                    <div class="guest-edit-wrapper-label">
                        <label for="guest-edit-id-textbox">
                            $_("Name")
                        </label>
                    </div>
                    <div class="guest-edit-wrapper-controls">
                        <input id="guest-edit-id-textbox"
                            name="name" type="text" />
                    </div>
                </div>
                <div>
                    <div class="guest-edit-wrapper-label">
                        <label for="guest-edit-cores-textbox">
                            $_("CPUs")
                        </label>
                    </div>
                    <div class="guest-edit-wrapper-controls">
                        <input
                            id="guest-edit-cores-textbox"
                            name="cpus"
                            type="text"
                            disabled="disabled" />
                    </div>
                </div>
                <div>
                    <div class="guest-edit-wrapper-label">
                        <label for="guest-edit-memory-textbox">
                            $_("Memory")
                        </label>
                    </div>
                    <div class="guest-edit-wrapper-controls">
                        <input id="guest-edit-memory-textbox"
                            name="memory"
                            type="text"
                            disabled="disabled" />
                    </div>
                </div>
                <div>
                    <div class="guest-edit-wrapper-label">
                        <label for="guest-edit-icon-textbox">
                            $_("Icon")
                        </label>
                    </div>
                    <div class="guest-edit-wrapper-controls">
                        <input
                            id="guest-edit-icon-textbox"
                            name="icon"
                            type="text"
                            disabled="disabled" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <footer>
        <div class="btn-group">
            <button id="guest-edit-button-cancel" class="btn-normal">
                <span class="text">$_("Cancel")</span>
            </button>
            <button id="guest-edit-button-save" class="btn-normal">
                <span class="text">$_("Save")</span>
            </button>
        </div>
    </footer>
</div>
<script type="text/javascript">
    kimchi.guest_edit_main();
</script>
