#*
 * Project Kimchi
 *
 * Copyright IBM Corp, 2016
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
    <div id="clone-guest-window" class="window modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="cloneModalLabel">$_("Clone a Guest")</h4>
        </div>
        <div id="cloneInfo" class="modal-body">
            <span id="alert-modal-container"></span>
            <div class="alert alert-warning" role="alert">$_("When the target guest has SCSI or iSCSI volumes, they will be cloned on the default storage pool. The same will happen when the target pool does not have enough space to clone the volumes. Do you want to continue?")</div>
            <div class="form-group">
                <label for="numberClone">$_("Number of times to clone")</label>
                <input type="number" class="form-control" id="numberClone" min="1" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="cloneFormOk" class="btn btn-default">$_("Continue")</button>
            <button type="button" id="cloneFormCancel" data-dismiss="modal" class="btn btn-default">$_("Cancel")</button>
        </div>
    </div>
    <script>
    kimchi.guest_clonevm_main();
    </script>
</body>
</html>
