#*
 * Project Kimchi
 *
 * Copyright IBM Corp, 2016-2017
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
    <div id="migrate-guest-window" class="window modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="migrateModalLabel">$_("Migrate a Guest")</h4>
        </div>
        <div id="migrateInfo" class="modal-body">
            <span id="alert-modal-container"></span>
            <div class="alert alert-warning" role="alert">$_("Disclaimer: This process cannot be stopped after started, can take a long time to complete and will turn off the VM on this Hypervisor when it is successfully migrated to the remote destination.")</div>
            <div class="form-group">
                <label for="remote_host">$_("Remote Server")</label>
                <input type="text" class="form-control" id="remote_host" />
                <p class="help-block">
                    <i class="fa fa-info-circle"></i> $_("IP Address or Hostname")</p>
            </div>
            <div class="alert alert-info" role="alert">$_("The following fields are optional. Fill them if you want Kimchi to setup a password-less ssh session between the localhost and the remote host. The setup process will only be successful if the user has 'SUDO ALL' permission in the remote machine.")</div>
            <div class="form-group">
                <label for="user">$_("User")</label>
                <input type="text" class="form-control" id="user" />
                <p class="help-block">
                    <i class="fa fa-info-circle"></i> $_("Username of the remote host")</p>
            </div>
            <div class="form-group">
                <label for="password">$_("Password")</label>
                <input type="password" class="form-control" id="password" />
                <p class="help-block">
                    <i class="fa fa-info-circle"></i> $_("Password of the user in the remote host")</p>
            </div>
            <div class="form-group">
                <input id="enableRDMA" class="wok-checkbox" type="checkbox" value="" />
                <label for="enableRDMA" id="labelEnableRDMA">$_("Use RDMA transport")</label>
                <p class="help-block"><i class="fa fa-info-circle"></i> $_("Check this option only if RDMA is properly configured in both source and destination hosts, otherwise migration will fail.")</p>
            </div>
            <div class="form-group">
                <input id="deleteVM" class="wok-checkbox" type="checkbox" value="" />
                <label for="deleteVM" id="labelDeleteVM">$_("Delete this VM when the migration is completed") </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="migrateFormOk" class="btn btn-default">$_("Start")</button>
            <button type="button" id="migrateFormCancel" data-dismiss="modal" class="btn btn-default">$_("Cancel")</button>
        </div>
    </div>
    <script>
    kimchi.guest_livemigration_main();
    </script>
</body>
</html>
