#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<div id="guest-cdrom-edit-window" class="window">
    <header>
        <h1 class="title">$_("Replace a CDROM of VM")</h1>
        <div class="close">X</div>
    </header>
    <div class="content">
        <form id="form-vm-cdrom-edit">
            <section class="form-section">
                <h2>1. $_("Device Name")</h2>
                <div class="field">
                    <p class="text-help">
                        $_("The name used to identify the CDROM. Read-only.")
                    </p>
                    <input type="text" class="text" name="dev" disabled="disabled" />
                </div>
            </section>
            <section class="form-section">
                <h2>2. $_("Device Type")</h2>
                <div class="field">
                    <p class="text-help">
                        $_("The device type. Currently, only \"cdrom\" is supported.")
                    </p>
                    <input type="text" class="text" name="type" value="cdrom" disabled="disabled" />
                </div>
            </section>
            <section class="form-section">
                <h2>3. $_("ISO File Path")</h2>
                <div class="field">
                    <p class="text-help">
                        $_("The ISO file path in the server.")
                    </p>
                    <input type="text" class="text" name="path" />
                </div>
            </section>
            <section class="form-section">
                <div id="cdrom-error-message"></div>
            </section>
        </form>
    </div>
    <footer>
        <div class="btn-group">
            <button id="vm-cdrom-button-edit" class="btn-normal" disabled="disabled">
                <span class="text">$_("Replace")</span>
            </button>
        </div>
    </footer>
</div>
<script type="text/javascript">
    kimchi.guest_cdrom_edit_main();
</script>
