#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2014
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div class="window" style="width: 900px;height: 580px;">
    <header>
        <h1 class="title">$_("Create a New Virtual Machine")</h1>
        <div class="close">X</div>
    </header>
    <div class="content">
        <form id="form-vm-add">
        <section class="form-section">
            <h2>1. $_("Virtual Machine Name")</h2>
            <div class="field">
                <p class="text-help">
                    $_("The name used to identify the virtual machine. If omitted, a name will be chosen based on the template used.")
                </p>
                <input type="text" class="text" style="width: 300px" name="name">
            </div>
        </section>
        <section class="form-section">
            <h2>2. $_("Template")</h2>
            <div class="field">
                <div class="text-help">
                    <div id="prompt-create-template" class="hidden">
                        <div>$_("Please create a template first.")</div>
                        <a id="btn-create-template" class="btn-normal" href="templates.html">
                            <span class="text">$_("Create a Template")</span>
                        </a>
                    </div>
                    <div id="prompt-choose-template" class="hidden">
                        <span>$_("Please choose a template.")</span>
                    </div>
                </div>
                <ul id="templateTile" class="tile-check tile-template">
                </ul>
                <script type="html/text" id="tmpl-template" class="tmpl-html">
                    <li>
                        <label>
                            <input type="radio" name="template" value="/templates/{name}">
                            <div class="info">
                                <div class="summary os-icon">
                                    <img src="{icon}">
                                    <span class="title">{name}</span>
                                </div>
                                <ul class="list-info">
                                    <li><label>$_("OS")</label><span>{os_distro}</span></li>
                                    <li><label>$_("OS Version")</label><span>{os_version}</span></li>
                                    <li><label>$_("CPUS")</label><span>{cpus}</span></li>
                                    <li><label>$_("Memory")</label><span>{memory}M</span></li>
                                </ul>
                            </div>
                        </label>
                    </li>
                </script>
            </div>
        </section>
        </form>
    </div>
    <footer>
        <div class="btn-group">
            <button id="vm-doAdd" class="btn-normal" disabled="disabled" href="javascript:void(0);"><span class="text">$_("Create")</span></button>
            <button id="vm-doAdding" class="btn-normal" disabled="disabled" style="display:none" href="javascript:void(0);"><span class="text">$_("Creating...")</span></button>
        </div>
    </footer>
</div>
<script>
    kimchi.guest_add_main();
</script>
</body>
</html>
