#*
 * Project Kimchi
 *
 * Copyright IBM Corp, 2014-2016
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
{
    "Host": "$_("Host")",
    "Guests": "$_("Guests")",
    "Templates": "$_("Templates")",
    "Storage": "$_("Storage")",
    "Network": "$_("Network")",

    "KCHAPI6003E": "$_("This is not a valid Linux path")",
    "KCHAPI6008E": "$_("Unable to read file.")",
    "KCHAPI6009E": "$_("Error while uploading file.")",

    "KCHAPI6001M": "$_("Delete Confirmation")",
    "KCHAPI6002M": "$_("OK")",
    "KCHAPI6003M": "$_("Cancel")",
    "KCHAPI6004M": "$_("Confirm")",
    "KCHAPI6005M": "$_("Create")",
    "KCHAPI6006M": "$_("Warning")",
    "KCHAPI6007M": "$_("Save")",
    "KCHAPI6008M": "$_("Creating...")",
    "KCHAPI6009M": "$_("Cloning...")",
    "KCHAPI6010M": "$_("Saving...")",
    "KCHAPI6012M": "$_("Migrating...")",

    "KCHTMPL6001W": "$_("No ISO found")",

    "KCHTMPL6002M": "$_("This may take a long time. Do you want to continue?")",
    "KCHTMPL6003M": "$_("This will permanently delete the %1 template. Would you like to continue?")",
    "KCHTMPL6004M": "$_("View Table")",
    "KCHTMPL6005M": "$_("View Gallery")",
    "KCHTMPL6006M": "$_("Not Available")",
    "KCHTMPL6007M": "$_("Please check the invalid Storage Pools")",
    "KCHTMPL6008M": "$_("Please check the invalid Storage Pools or Paths")",

    "KCHVM6001M": "$_("This will delete the %1 virtual machine and its virtual disks. This operation cannot be undone. Would you like to continue?")",
    "KCHVM6002M": "$_("Power off Confirmation")",
    "KCHVM6003M": "$_("This action may produce undesirable results, "
                      "for example unflushed disk cache in the %1 guest. "
                      "Would you like to continue?")",
    "KCHVM6004M": "$_("Reset Confirmation")",
    "KCHVM6005M": "$_("There is a risk of data loss caused by reset without"
                      " the %1 guest OS shutdown. Would you like to continue?")",
    "KCHVM6006M": "$_("Shut Down Confirmation")",
    "KCHVM6007M": "$_("Note the %1 guest OS may ignore this request. Would you like to continue?")",
    "KCHVM6008M": "$_("Virtual Machine delete Confirmation")",
    "KCHVM6009M": "$_("The %1 virtual machine is not persistent. Power Off will delete it. Continue?")",

    "KCHVM0001E": "$_("Input is not a number")",
    "KCHVM0002E": "$_("Memory value cannot be higher than Max Memory value")",
    "KCHVM0003E": "$_("Current CPUs value cannot be higher than Max CPU value")",

    "KCHVMCD6001M": "$_("This CDROM will be detached permanently and you can re-attach it. Continue to detach it?")",
    "KCHVMCD6002M": "$_("Attach")",
    "KCHVMCD6003M": "$_("Attaching...")",
    "KCHVMCD6009M": "$_("This disk will be detached permanently and you can re-attach it. Continue to detach it?")",

    "KCHVMED6001M": "$_("interface:")",
    "KCHVMED6002M": "$_("address:")",
    "KCHVMED6003M": "$_("link_type:")",
    "KCHVMED6004M": "$_("block:")",
    "KCHVMED6005M": "$_("drive_type:")",
    "KCHVMED6006M": "$_("model:")",
    "KCHVMED6007M": "$_("Affected devices:")",
    "KCHVMED6008M": "$_("More")",
    "KCHVMED6009M": "$_("Less")",
    "KCHVMED6010M": "$_("Successfully attached device to VM")",
    "KCHVMED6011M": "$_("Successfully detached device from VM")",
    "KCHVMED6012M": "$_("Following devices will be affected, confirm?")",

    "KCHNET6001M": "$_("unavailable")",
    "KCHNET6002M": "$_("This action will interrupt network connectivity for any virtual machine that depend on the %1 network.")",
    "KCHNET6004M": "$_("The %1 network is not persistent. Instead of stop, this action will permanently delete it. Would you like to continue?")",
    "KCHNET6001W": "$_("The bridged VLAN tag may not work well with NetworkManager enabled. You should consider disabling it.")",

    "KCHPOOL6001M": "$_("This will permanently delete the %1 storage pool. Would you like to continue?")",
    "KCHPOOL6002M": "$_("This storage pool is empty.")",
    "KCHPOOL6003M": "$_("It will format your disk and you will loose any data in there, are you sure to continue? ")",
    "KCHPOOL6004M": "$_("SCSI Fibre Channel")",
    "KCHPOOL6005M": "$_("No SCSI adapters found.")",
    "KCHPOOL6006M": "$_("Loading iSCSI targets...")",
    "KCHPOOL6007M": "$_("No iSCSI found. Please input one.")",
    "KCHPOOL6008M": "$_("Failed to load iSCSI targets.")",
    "KCHPOOL6009M": "$_("Would you like to continue?")",
    "KCHPOOL6010M": "$_("This will permanently delete the following storage volumes: %1")",
    "KCHPOOL6011M": "$_("No available partitions found.")",
    "KCHPOOL6012M": "$_("The %1 storage pool is not persistent. Instead of deactivate, this action will permanently delete it. Would you like to continue?")",
    "KCHPOOL6013M": "$_("Unable to retrieve partitions information.")",
    "KCHPOOL6014M": "$_("In progress...")",
    "KCHPOOL6015M": "$_("Failed!")",
    "KCHPOOL6016M": "$_("No LVM found in the system.")",
    "KCHPOOL6017M": "$_("This will permanently wipe the following storage volumes: %1")",
    "KCHPOOL6018M": "$_("Wipe Confirmation")",
    "KCHPOOL6019M": "$_("Select one or more partitions to be added to the logical pool %1:")",

    "KCHPOOL6005E": "$_("Invalid NFS mount path.")",
    "KCHPOOL6006E": "$_("No logical device selected.")",
    "KCHPOOL6009E": "$_("This is not a valid Server Name or IP. Please, modify it.")",

    "KCHVMSTOR0001E": "$_("CDROM path needs to be a valid local/remote path and cannot be blank.")",
    "KCHVMSTOR0002E": "$_("Disk pool or volume cannot be blank.")",
    "KCHVMSTOR0003E": "$_("Disk size or Format or Directory path cannot be blank and Directory path needs to be a valid local/remote path.")",
    "KCHVMSTOR0004E": "$_("Disk path needs to be a valid local/remote path and cannot be blank.")",
    "KCHVMSTOR0005E": "$_("Storage pool or Disk size or Format cannot be blank.")",

    "KCHPEERS0001M": "$_("Peers")"
}
