#*
 * Project Wok
 *
 * Copyright IBM, Corp. 2014-2015
 *
 * Code derived from Project Kimchi
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
{
    "WOKAPI6005E": "$_("No such data available.")",
    "WOKAPI6007E": "$_("Can not contact the host system. Verify the host system is up and that you have network connectivity to it. HTTP request response %1. ")",

    "WOKAPI6003M": "$_("Cancel")",
    "WOKAPI6004M": "$_("Confirm")",

    "WOKGRD6001M": "$_("Loading...")",
    "WOKGRD6002M": "$_("An error occurred while retrieving system information.")",
    "WOKGRD6003M": "$_("Retry")",
    "WOKGRD6004M": "$_("Detailed message:")",

    "WOKHOST6001M": "$_("Max:")"
}
