#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
#from kimchi.config import get_version
<!DOCTYPE html>
<html lang="$lang.lang[0]">
<head>
<meta charset="UTF-8">
<title>Kimchi</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<link rel="shortcut icon" href="images/logo.ico">
<link rel="stylesheet" href="$href('libs/themes/base/jquery-ui.min.css')">
<link rel="stylesheet" href="$href('css/theme-default.min.css')">

<script src="$href('libs/jquery-1.10.0.min.js')"></script>
<script src="$href('libs/jquery-ui.min.js')"></script>
<script src="$href('libs/jquery-ui-i18n.min.js')"></script>
<script src="$href('js/kimchi.min.js')"></script>

<!-- This is used for detecting if the UI needs to be built -->
<style type="text/css">
#buildme {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#buildme div {
    background-color: #FFB2C0;
    border-style: solid;
    border-color: #FF0000;
    padding: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
</style>
</head>
<body onload="kimchi.main()">
<div class="container">
<header class="topbar">
    <h1 id="logo"><img alt="Project Kimchi" src="images/theme-default/logo-white.png"></h1>
    <ul class="nav-top">
        <li>
            <div id="peers" class="peers hide-content popable">
                <span>$_("Peers")</span>
                <span class="arrow"></span>
                <div class="dropdown popover right-side">
                    <p id="search-peers">$_("Searching")...</p>
                    <p id="no-peers" class="hide-content">$_("No peers found.")</p>
                </div>
            </div>
        </li>
        <li>
            <div id="user" class="popable">
                <span id="user-icon"></span>
                <span id="user-name" class="empty-when-logged-off"></span>
                <span class="arrow"></span>
                <div class="action-panel popover right-side">
                    <a id="btn-help" class="user-menu-item" href="javascript:void(0);">$_("Help")</a>
                    <br/>
                    <br/>
                    <a id="btn-about" class="user-menu-item" href="javascript:void(0);">$_("About")</a>
                    <br/>
                    <hr/>
                    <a id="btn-logout" class="user-menu-item" href="javascript: void(0);">$_("Log out")</a>
                </div>
            </div>
        </li>
    </ul>
</header>
<div class="content">
    <nav class="navbar">
        <ul id="nav-menu" class="nav-menu">
            <li class="menu-arrow"></li>
        </ul>
    </nav>
    <div id="main">
    </div>
</div>
</div>

<div id="buildme">
    <div><p>Oops!  It looks like I am running from a source tree and you forgot to build!
    Please run the following command from the kimchi directory and reload this page:</p>
    <p><code>make</code></p>
    </div>
</div>

<script id="about-tmpl" type="kimchi/template">
    <div class="window about-window">
        <header>
            <h1 class="title"><img alt="Kimchi logo" src="images/logo.ico"/> $_("About")</h1>
            <div class="close">X</div>
        </header>
        <div class="content" align="center">
            <center>
                <div>
                    <br/>
                    <br/>
                    <img src="images/theme-default/logo-plain.gif"/>
                    <br/>
                    <br/>
                    <h2>Kimchi</h2>
                    <p>$_("Version:") $get_version()</p>
                </div>
            </center>
        </div>
    </div>
</script>

</body>
</html>
