#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2014
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
#silent next = "?next=%s" % $getVar('data.next', '') if $getVar('data.next', '') else ""
#from kimchi.config import get_version
<!DOCTYPE html>
<html lang="$lang.lang[0]">
<head>
<meta charset="UTF-8">
<title>Kimchi</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<link rel="shortcut icon" href="images/logo.ico">
<link rel="stylesheet" href="$href('css/theme-default.min.css')">
<script src="$href('libs/jquery-1.10.0.min.js')"></script>
<script src="$href('libs/jquery-ui.min.js')"></script>
<script src="$href('libs/jquery-ui-i18n.min.js')"></script>
<script src="$href('js/kimchi.min.js')"></script>
<style type="text/css">
.topbar select {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.login-area {
    margin: 120px auto 0;
}
#login-window {
    width: 315px;
}
.err-area {
    height: auto;
    margin-bottom: 10px;
}
.err-mess {
    color: #C85305;
}
</style>
</head>
<body onload="kimchi.login_main()">
<div class="container topbar">
    <span id="logo"><img alt="Project Kimchi" src="images/theme-default/logo-white.png"></span>
    <select id="userLang">
        <option value="en_US">English (US)</option>
        <option value="zh_CN">中文（简体）</option>
        <option value="pt_BR">Português (Brasil)</option>
        <option value="de_DE">Deutsch (Deutschland)</option>
        <option value="es_ES">Español (España)</option>
        <option value="fr_FR">Français (France)</option>
        <option value="it_IT">Italiano (Italia)</option>
        <option value="ja_JP">日本語 (日本)</option>
        <option value="ko_KR">한국어 (대한민국)</option>
        <option value="ru_RU">Русский (Россия)</option>
        <option value="zh_TW">中文（繁體）</option>
    </select>
</div>
<div id="login-window" class="login-area">
    <div class="err-area">
        <div id="messUserPass" class="err-mess" style="display: none;">$_("The username or password you entered is incorrect. Please try again.")</div>
        <div id="messSession" class="err-mess" style="display: none;">$_("Session timeout, please re-login.")</div>
    </div>
    <form id="form-login" class="login-panel">
        <div class="row">
            <input type="text" id="username" name="username" required="required" placeholder="$_("User Name")" autofocus/>
            <div id="username-msg" class="msg-required"></div>
        </div>
        <div class="row">
            <input type="password" id="password" name="password" required="required" placeholder="$_("Password")" />
            <div id="password-msg" class="msg-required"></div>
        </div>
        <div class="row">
        <button id="btn-login" class="btn-normal">
            <label id="login">$_("Log in")</label>
            <label id="logging" style="display: none;">$_("Logging in...")</label>
        </button>
        </div>
    </form>
</div>
</body>
</html>
