#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
    <div class="window storage-window storage-admin">
        <header>
            <h1 class="title">$_("Define a New Storage Pool")</h1>
            <div class="close">X</div>
        </header>
        <div class="content">
            <form id="form-pool-add">
                <section class="form-section">
                    <h2>1. $_("Storage Pool Name")</h2>
                    <div class="field">
                        <p class="text-help">
                            $_("The name used to identify the storage pools, and it should not be empty.")
                        </p>
                        <input id="poolId" required="required" type="text" class="text storage-base-input-width" name="name">
                    </div>
                </section>
                <section class="form-section">
                    <h2>2. $_("Storage Pool Type")</h2>
                    <div class="storage-type-wrapper-controls">
                        <div id="poolTypeId">
                            <input id="poolTypeInputId" name="type" type="hidden" value="dir"/>
                            <span id="pool-type-label" class="text"></span><span class="arrow"></span>
                            <div>
                                <ul id="storagePool-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="path-section">
                    <section class="form-section">
                        <h2>3. $_("Storage Path")</h2>
                        <div class="field">
                            <p class="text-help">
                                $_("The path of the Storage Pool. Each Storage Pool must have a unique path.")</p>
                            <p class="text-help">
                                $_("Kimchi will try to create the directory when it does not already exist in your system.")</p>
                            <input id="pathId" type="text" class="text storage-base-input-width">
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
                <div class="nfs-section tmpl-html">
                    <section class="form-section">
                        <h2>3. $_("NFS Server IP")</h2>
                        <div class="field storage-field">
                            <p class="text-help">
                                $_("NFS server IP or hostname. It can be input or chosen from history.")</p>
                            <div id="serverComboboxId" class="storage-add-input-width">
                                <input id="nfsserverId"/>
                                <div>
                                    <ul id="nfs-server-used">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="form-section">
                        <h2>4. $_("NFS Path")</h2>
                        <div class="field storage-field">
                            <p class="text-help">$_("The NFS exported path on NFS server.")</p>
                            <div id="targetFilterSelectId" class="storage-add-input-width">
                                <input id="nfspathId" class="input" disabled/>
                                <div>
                                    <ul id="nfs-server-target">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="logical-section tmpl-html">
                    <section class="form-section storageType">
                        <h2>3. $_("Device path")</h2>
                        <div class="host-partition">
                            <p class="text-help">
                                $_("Looking for available partitions ...")
                                <img src = "images/theme-default/loading.gif" />
                            </p>
                        </div>
                    </section>
                </div>
                <div class="iscsi-section tmpl-html">
                    <section class="form-section">
                        <h2>3. $_("iSCSI Server")</h2>
                        <div class="field">
                            <p class="text-help">
                                $_("iSCSI server IP or hostname. It should not be empty.")</p>
                            <span class="filter-select popable" id="iSCSIServer">
                                <input id="iscsiserverId" type="text" placeholder="$_("Server")">
                                <div class="popover"><ul class="option select-list"></ul></div>
                            </span>
                            <input id="iscsiportId" placeholder="$_("Port")" type="text" class="text storage-port-width" maxlength="4">
                        </div>
                    </section>
                    <section class="form-section">
                        <h2>4. $_("Target")</h2>
                        <div class="field">
                            <p class="text-help">$_("The iSCSI target on iSCSI server")</p>
                            <span class="filter-select popable" id="iSCSITarget">
                                <input id="iscsiTargetId" type="text">
                                <div class="popover"><ul class="option select-list"></ul></div>
                            </span>
                        </div>
                    </section>
                    <section class="form-section">
                        <div class="field">
                            <input type="checkbox" id="authId" name="authname">
                            <label for="authId">$_("Add iSCSI Authentication")</label>
                        </div>
                    </section>
                    <section class="authenticationfield form-section tmpl-html">
                        <h2>5. $_("iSCSI Authentication")</h2>
                        <div class="field">
                            <input id="usernameId" placeholder="$_("User Name")" type="text" class="text storage-auth-width">
                            <input id="passwordId" placeholder="$_("Password")" type="password" class="text storage-auth-width">
                        </div>
                    </section>
                </div>
                <div class="scsi-section tmpl-html">
                    <section class="form-section">
                        <h2>3. $_("SCSI Adapter")</h2>
                        <div class="storage-type-wrapper-controls">
                        <div id="scsiAdapter">
                            <input type="hidden"/>
                            <span class="text"></span><span class="arrow"></span>
                            <div><ul></ul></div>
                        </div>
                        </div>
                    </section>
                </div>
            </form>
        </div>
        <footer>
            <div class="btn-group">
                <button id="pool-doAdd" class="btn-normal ui-button-primary">
                    <span class="text">$_("Create")</span>
                </button>
                <button class="btn-normal" id="pool-loading" style="display: none"><span class="text">$_("Please, wait...")</span></button>
            </div>
        </footer>
    </div>
    <script>
        kimchi.storagepool_add_main();
    </script>
    <script id="partitionTmpl" type="html/text">
        <div>
            <input type="checkbox" id="{name}" value="{path}" name="devices">
            <label for="{name}">{path}</label>
        </div>
    </script>
</body>
</html>
