#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div id="template-add-window" class="window modal-content">
            <div class="modal-header">
                <h4 class="modal-title">$_("Add Template")</h4>
            </div>
            <div class="modal-body">            
                <span id="alert-modal-container"></span>
                <div class="template-modal-container">
                    <div>
                        <h5>$_("Where is the source media for this template? ")</h5>                       
                        <label class="radio-inline">
                            <input type="radio" checked="checked" name="iso-source" id="iso-local" value="iso-local"> $_("Local ISO Image")
                        </label>                        
                        <label class="radio-inline">
                            <input type="radio" name="iso-source" id="vm-image-local" value="vm-image-local"> $_("Local Image File")
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="iso-source" id="iso-remote" value="iso-remote"> $_("Remote ISO Image")
                        </label>                        
                    </div>
                </div>
                <div class="template-pager">
                    <div class="page-list">
                        <div class="page" id="iso-local-box">
                                <!-- 1-1-2 -->
                                <div id="iso-file-field">
                                    <div id="iso-file-box" class="custom-iso-field">
                                        <div class="form-group">
                                        <label for="iso-file">Provide a File Path for a specific ISO image:</label>
                                        <input type="text" class="form-control" id="iso-file" name="iso-file">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" id="iso-search" style="display: none">$_("Search ISOs")</button>
                                <button class="btn btn-primary" id="iso-search-loading" style="display: none"><span class="wok-loading-icon"></span> $_("Please, wait...")</button>
                                <!-- 1-1-1 -->
                                <div id="local-iso-field" class="iso-field" style="display: none;">
                                    <div class="row">
                                        <p>$_("The following ISOs are available:")</p>
                                    </div>
                                    <div class="checkbox">
                                        <label class="check-all">
                                            <input type="checkbox" id="select-all-local-iso">$_("All")
                                        </label>
                                    </div>
                                    <div class="row">
                                        <form id="form-local-iso">
                                        <ul id="list-local-iso" class="list-iso">
                                        </ul>
                                        </form>
                                        <script id="tmpl-list-local-iso" type="text/html">
                                            <li class="col-md-3">
                                                <label class="box-iso-outer">
                                                    <input type="checkbox" class="iso-checkbox-hidden" name="iso" value="{isoId}">
                                                    <span class="box-iso-border">
                                                        <span class="box-iso-inner">
                                                            <h3 class="iso-title {os_distro}" title="{name}">
                                                                {name}
                                                            </h3>
                                                            <dl class="iso-info">
                                                                <dt>{os_distro}</dt>
                                                                <dd>$_("OS: ")</dd>
                                                                <dt>{os_version}</dt>
                                                                <dd>$_("Version: ")</dd>
                                                                <dt>{capacity}</dt>
                                                                <dd>$_("Size: ")</dd>
                                                            </dl>
                                                        </span>
                                                    </span>
                                                </label>
                                            </li>
                                        </script>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-primary" id="iso-more" style="display: none"><span class="text">$_("Search more ISOs")</span></button>
                                        <button class="btn btn-primary" id="iso-more-loading" style="display: none"><span class="wok-loading-icon"></span> $_("Please, wait...")</button>
                                    </div>
                                </div>
                        </div>

                        <div class="page" id="vm-image-local-box">
                            <div class="from-group">
                                <label for="vm-image-local-text">$_("File Path:")</label>
                                <input type="text" class="form-control" id="vm-image-local-text" />
                            </div>
                        </div>

                        <!-- 1-2 -->
                        <div class="page" id="iso-remote-box">

                            <!-- 1-2-2 -->
                            <div id="iso-url-field" style="display: none;">                          
                                <div id="iso-url-box" class="form-group">
                                    <label for="iso-url">Provide a URL for a specific ISO image:</label>
                                    <input type="text" class="form-control" id="iso-url" name="iso-url">
                                </div>
                            </div>

                            <!-- 1-2-0 -->
                            <div id="load-remote-iso">
                                <p><span class="wok-loading-icon"></span> $_("Loading default remote ISOs ...")</p>
                            </div>

                            <!-- 1-2-1 -->
                            <div id="remote-iso-field" class="iso-field" style="display: none;">
                                <div class="row">
                                    <p>$_("The following ISOs are available:")</p>
                                </div>
                                <div class="checkbox">
                                    <label class="check-all">
                                        <input type="checkbox" id="select-all-remote-iso">$_("All")
                                    </label>
                                </div>
                                <div class="row">
                                    <form id="form-remote-iso">
                                    <ul id="list-remote-iso" class="list-iso">
                                    </ul>
                                    </form>
                                    <script id="tmpl-list-remote-iso" type="text/html">
                                        <li class="col-md-3">
                                            <label class="box-iso-outer">
                                                <input type="checkbox" class="iso-checkbox-hidden" name="iso" value="{isoId}">
                                                <span class="box-iso-border">
                                                    <span class="box-iso-inner">
                                                        <h3 class="iso-title {os_distro}" title="{name}">
                                                            {name}
                                                        </h3>
                                                        <dl class="iso-info">
                                                            <dt>{os_distro}</dt>
                                                            <dd>$_("OS: ")</dd>
                                                            <dt>{os_version}</dt>
                                                            <dd>$_("Version: ")</dd>
                                                            <dt>{os_arch}</dt>
                                                            <dd>$_("Arch: ")</dd>
                                                        </dl>
                                                    </span>
                                                </span>
                                            </label>
                                        </li>
                                    </script>                        
                                </div>
                            </div>
                    </div>
        </div>
    </div>
    <div class="modal-footer">

                <!-- Template from local file path -->

                <!-- TODO: Use only one button and direct action based on current form field and "page" -->

                <button class="btn btn-default" id="btn-template-file-create" disabled="disabled">$_("Create")</button>

                <!-- Template from selected local isos -->

                <!-- Old: $_("Create Templates from Selected ISO") -->
                <button class="btn btn-default" id="btn-template-local-iso-create" disabled="disabled">$_("Create")</button>

                <!-- Template from local file path -->

                <button id="vm-image-local-box-button" class="btn btn-default ui-button-primary">$_("Create")</button>

                <!-- Template from URL Iso -->

                <button class="btn btn-default" id="btn-template-url-create" disabled="disabled">$_("Create")</button>

                <!-- Template from selected remote isos -->

                <!-- Old: $_("Create Templates from Selected ISO") -->
                <button class="btn btn-default" id="btn-template-remote-iso-create" disabled="disabled">$_("Create")</button>

                <button class="btn btn-default" data-dismiss="modal" type="button">$_("Cancel")</button>
    </div>
</div>
<script>
kimchi.template_add_main();
</script>
</body>
</html>
