#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext

<div id="template-edit-window" class="window">
    <header>
        <h1 class="title">$_("Edit Template")</h1>
        <div class="close">X</div>
    </header>
    <div class="content">
        <div id="edit-template-tabs">
            <input type="hidden" id="template-name" name="templateName" />
            <ul>
                <li>
                    <a href="#form-template-general">$_("General")</a>
                </li>
                <li>
                    <a href="#form-template-storage">$_("Storage")</a>
                </li>
                <li>
                    <a href="#form-template-interface">$_("Interface")</a>
                </li>
                <li>
                    <a href="#form-template-processor">$_("Processor")</a>
                </li>
            </ul>
            <form id="form-template-general">
                <div class="form-template-inline-wrapper">
                    <div class="template-edit-wrapper-label">
                        <label for="template-edit-id-textbox">$_("Name")</label>
                    </div>
                    <div class="template-edit-wrapper-label">
                        <label for="template-edit-vendor-textbox">$_("Vendor")</label>
                    </div>
                    <div class="template-edit-wrapper-label">
                        <label for="template-edit-version-textbox">$_("Version")</label>
                    </div>
                    <div class="template-edit-wrapper-label">
                        <label for="template-edit-memory-textbox">$_("Memory (MB)")</label>
                    </div>
                    <div class="template-edit-wrapper-label templ-edit-cdrom">
                        <label for="template-edit-cdrom-textbox">$_("CDROM")</label>
                    </div>
                    <div class="template-edit-wrapper-label templ-edit-vm-image hide">
                        <label for="template-edit-vmimage-textbox">$_("Image File")</label>
                    </div>
                    <div class="template-edit-wrapper-label">
                        <label>$_("Graphics")</label>
                    </div>
                </div>
                <div class="form-template-inline-wrapper">
                    <div class="template-edit-wrapper-controls">
                        <input id="template-edit-id-textbox" name="name" type="text" />
                    </div>
                    <div class="template-edit-wrapper-controls">
                        <input id="template-edit-vendor-textbox" name="os_distro" type="text" disabled="disabled" />
                    </div>
                    <div class="template-edit-wrapper-controls">
                        <input id="template-edit-version-textbox" name="os_version" type="text" disabled="disabled" />
                    </div>
                    <div class="template-edit-wrapper-controls">
                        <input id="template-edit-memory-textbox" name="memory" type="text" />
                    </div>
                    <div class="template-edit-wrapper-controls templ-edit-cdrom">
                        <input id="template-edit-cdrom-textbox" name="cdrom" type="text" disabled="disabled" />
                    </div>
                    <div class="template-edit-wrapper-controls templ-edit-vm-image hide">
                        <input id="template-edit-vmimage-textbox" name="vm-image" type="text" disabled="disabled" />
                    </div>
                    <div class="template-edit-wrapper-controls">
                        <div class="btn dropdown popable">
                            <input id="template-edit-graphics" name="graphics" type="hidden" />
                            <span class="text" id="template-edit-graphics-label"></span><span class="arrow"></span>
                            <div class="popover" style="width: 100%">
                                <ul class="select-list" id="template-edit-graphics-list" data-target="template-edit-graphics" data-label="template-edit-graphics-label">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form-template-storage">
                <div class="template-tab-header">
                    <span class="template-storage-cell">$_("Storage Pool")</span>
                    <span class="template-storage-cell">$_("Type")</span>
                    <span class="template-storage-cell">$_("Disk(GB)")</span>
                    <span class="template-storage-cell">$_("Disk Format")</span>
                    <button type="button" id="template-edit-storage-add-button" class="action-area"></button>
                </div>
                <div class="template-tab-body">
                </div>
            </form>
            <form id="form-template-interface">
                <div class="template-tab-header">
                    <span class="template-interface-cell">$_("Network")</span>
                    <span class="template-interface-cell">$_("Type")</span>
                    <button type="button" id="template-edit-interface-add-button" class="action-area"></button>
                </div>
                <div class="template-tab-body"></div>
            </form>
            <form id="form-template-processor">
                <div>
                    <label for="cpus">$_("CPU Number"):</label>
                    <input type="text" value="1" id="cpus" />
                </div>
                <div class="manual">
                    <input type="checkbox" id="cpus-check" />
                    <label for="cpus-check">$_("Manually set CPU topology")</label>
                </div>
                <div class="topology hide">
                    <div>
                        <label for="cores">$_("Cores"):</label>
                        <input type="text" value="1" id="cores" />
                    </div>
                    <div>
                        <label for="threads">$_("Threads"):</label>
                        <select id="threads"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="btn-group">
            <a id="tmpl-edit-button-save" class="btn-normal" href="javascript:void(0);"><span class="text">$_("Save")</span></a>
        </div>
    </footer>
</div>
<script>
    kimchi.template_edit_main();
</script>
<script id="template-storage-pool-tmpl" type="text/html">
    <div class='item'>
        <span class="template-storage-cell">
            <input class="template-storage-name" value={storageName} type="text" style="display:none" />
            <select id="selectStorageName"></select>
        </span>
        <span class="template-storage-cell">
            <input class="template-storage-type" value={storageType} readonly=true type="text" />
        </span>
        <span class="template-storage-cell">
            <input class="template-storage-disk" value={storageDisk} type="text" />
        </span>
        <span class="template-storage-cell">
            <input class="template-storage-disk-format" value={storageDiskFormat} type="text" style="display:none" />
            <select id="diskFormat">
               <option value="qcow2">qcow2</option>
               <option value="raw">raw</option>
               <option value="bochs">bochs</option>
               <option value="cloop">cloop</option>
               <option value="cow">cow</option>
               <option value="dmg">dmg</option>
               <option value="qcow">qcow</option>
               <option value="qed">qed</option>
               <option value="vmdk">vmdk</option>
               <option value="vpc">vpc</option>
            </select>
        </span>
    </div>
</script>
<script id="template-interface-tmpl" type="text/html">
    <div class="item" id={networkID}>
        <span class="template-interface-cell">
            <select></select>
        </span>
        <span class="template-interface-cell">
            <input value={type} readonly=true type="text" />
        </span>
        <span class="action-area">
            <button class="delete"></button>
        </span>
    </div>
</script>
