#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext

<div id="template-edit-window" class="window modal-content">
            <div class="modal-header">
                <h4 class="modal-title">$_("Edit Template")</h4>
            </div>
            <div class="modal-body">
            <span id="alert-modal-container"></span>
                <div id="edit-template-tabs">
                    <input type="hidden" id="template-name" name="templateName" />
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">$_("General")</a>
                        </li>
                        <li role="presentation">
                            <a href="#storage" aria-controls="storage" role="tab" data-toggle="tab">$_("Storage")</a>
                        </li>
                        <li role="presentation">
                            <a href="#interface" aria-controls="interface" role="tab" data-toggle="tab">$_("Interface")</a>
                        </li>
                        <li role="presentation">
                            <a href="#processor" aria-controls="processor" role="tab" data-toggle="tab">$_("Processor")</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <form id="form-template-general">
                                <div class="form-template-inline-wrapper">
                                    <div class="template-edit-wrapper-label">
                                        <label for="template-edit-id-textbox">$_("Name")</label>
                                    </div>
                                    <div class="template-edit-wrapper-label">
                                        <label for="template-edit-vendor-textbox">$_("Vendor")</label>
                                    </div>
                                    <div class="template-edit-wrapper-label">
                                        <label for="template-edit-version-textbox">$_("Version")</label>
                                    </div>
                                    <div class="template-edit-wrapper-label">
                                        <label for="template-edit-memory-textbox">$_("Memory (MB)")</label>
                                    </div>
                                    <div class="template-edit-wrapper-label templ-edit-cdrom">
                                        <label for="template-edit-cdrom-textbox">$_("CDROM")</label>
                                    </div>
                                    <div class="template-edit-wrapper-label templ-edit-vm-image hide">
                                        <label for="template-edit-vmimage-textbox">$_("Image File")</label>
                                    </div>
                                    <div class="template-edit-wrapper-label">
                                        <label>$_("Graphics")</label>
                                    </div>
                                </div>
                                <div class="form-template-inline-wrapper">
                                    <div class="template-edit-wrapper-controls">
                                        <input id="template-edit-id-textbox" class="form-control" name="name" type="text" />
                                    </div>
                                    <div class="template-edit-wrapper-controls">
                                        <input id="template-edit-vendor-textbox" class="form-control"  name="os_distro" type="text" disabled="disabled" />
                                    </div>
                                    <div class="template-edit-wrapper-controls">
                                        <input id="template-edit-version-textbox" class="form-control"  name="os_version" type="text" disabled="disabled" />
                                    </div>
                                    <div class="template-edit-wrapper-controls">
                                        <input id="template-edit-memory-textbox" class="form-control"  name="memory" type="text" />
                                    </div>
                                    <div class="template-edit-wrapper-controls templ-edit-cdrom">
                                        <input id="template-edit-cdrom-textbox" class="form-control" name="cdrom" type="text" disabled="disabled" />
                                    </div>
                                    <div class="template-edit-wrapper-controls templ-edit-vm-image hide">
                                        <input id="template-edit-vmimage-textbox"  class="form-control" name="vm-image" type="text" disabled="disabled" />
                                    </div>
                                    <div class="template-edit-wrapper-controls">
                                            <select id="template-edit-graphics" name="graphics" class="form-control"  />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="storage">
                            <form id="form-template-storage">
                                <div class="template-tab-header">
                                    <span class="template-storage-cell storage-pool">$_("Storage Pool")</span>
                                    <span class="template-storage-cell type">$_("Type")</span>
                                    <span class="template-storage-cell disk">$_("Disk(GB)")</span>
                                    <span class="template-storage-cell format">$_("Disk Format")</span>
                                    <button type="button" id="template-edit-storage-add-button" class="pull-right btn btn-primary"><i class="fa fa-plus-circle"></i> $_("Add Storage")</button>
                                </div>
                                <div class="template-tab-body">
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="interface">
                            <form id="form-template-interface">
                                <div class="template-tab-header">
                                    <span class="template-interface-cell network">$_("Network")</span>
                                    <span class="template-interface-cell type">$_("Type")</span>
                                    <button type="button" id="template-edit-interface-add-button" class="pull-right btn btn-primary"><i class="fa fa-plus-circle"></i> $_("Add Interface")</button>
                                </div>
                                <div class="template-tab-body"></div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="processor">
                            <form id="form-template-processor">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label for="cpus">$_("CPU Number"):</label>
                                        <input type="text" class="form-control" value="1" id="cpus" />
                                    </div>
                                </div>
                                <div class="manual form-group">
                                    <input type="checkbox" class="wok-checkbox" id="cpus-check" />
                                    <label for="cpus-check">$_("Manually set CPU topology")</label>
                                </div>
                                <div class="topology hide">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="cores">$_("Cores"):</label>
                                            <input type="text" class="form-control" value="1" id="cores" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="threads">$_("Threads"):</label>
                                        <select id="threads" class="col-md-2"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
            <a id="tmpl-edit-button-save" class="btn btn-default" href="javascript:void(0);">$_("Save")</a>
            <button class="btn btn-default" type="button" data-dismiss="modal">$_("Cancel")</button>
    </div>
</div>
<script>
    kimchi.template_edit_main();
</script>
<script id="template-storage-pool-tmpl" type="text/html">
    <div class='item'>
        <span class="template-storage-cell storage-pool">
            <input class="template-storage-name" value={storageName} type="text" style="display:none" />
            <select id="selectStorageName"></select>
        </span>
        <span class="template-storage-cell type">
            <input class="template-storage-type form-control" value={storageType} readonly=true type="text" />
        </span>
        <span class="template-storage-cell disk">
            <input class="template-storage-disk form-control" value={storageDisk} type="text" />
        </span>
        <span class="template-storage-cell format">
            <input class="template-storage-disk-format" value={storageDiskFormat} type="text" style="display:none" />
            <select id="diskFormat">
               <option value="qcow2">qcow2</option>
               <option value="raw">raw</option>
               <option value="bochs">bochs</option>
               <option value="cloop">cloop</option>
               <option value="cow">cow</option>
               <option value="dmg">dmg</option>
               <option value="qcow">qcow</option>
               <option value="qed">qed</option>
               <option value="vmdk">vmdk</option>
               <option value="vpc">vpc</option>
            </select>
        </span>
    </div>
</script>
<script id="template-interface-tmpl" type="text/html">
    <div class="item" id={networkID}>
        <span class="template-interface-cell network">
            <select></select>
        </span>
        <span class="template-interface-cell type">
            <input value={type} readonly=true class="form-control" type="text" />
        </span>
        <span class="pull-right">
            <button class="delete btn-primary btn"><i class="fa fa-minus-circle"></i> $_("Delete")</button>
        </span>
    </div>
</script>
