#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013
 *
 * Authors:
 *  Xin Ding <xinding@cn.ibm.com>
 *
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div class="window" style="width: 1004px;height: 660px;">
	<header>
		<h1 class="title">$_("Add Template")</h1>
		<div class="close">X</div>
	</header>
	<div class="content" style="margin-bottom: 0">

		<div class="step-field">
			<!-- 1 -->
			<div class="step-box" id="iso_type_box">
				<h2 class="step-title">$_("What would you like to do?")</h2>
				<div>
					<label class="step-option">
						<input type="radio" id="iso_specify" name="iso_type" value="specify">
						<span>$_("Select a specific ISO to create a template.")</span>
					</label>
					<label class="step-option">
						<input type="radio" id="iso_scan" name="iso_type" value="scan">
						<span>$_("Scan the server to discover ISOs to create templates.")</span>
					</label>
					<label class="step-option">
						<input type="radio" id="iso_distr" name="iso_type" value="distr">
						<span>$_("Choose from a list of known network ISO distribution.")</span>
					</label>
				</div>
			</div>

			<!-- 1-1 -->
			<div class="step-box" id="iso_location_box" style="display: none;">
				<h2 class="step-title">$_("Where is the ISO file?")</h2>
				<div>
					<label class="step-option">
						<input type="radio" id="iso_local" name="iso_location" value="local">
						<span>$_("The ISO is on my server.")</span>
					</label>
					<label class="step-option">
						<input type="radio" id="iso_internet" name="iso_location" value="internet">
						<span>$_("I want to stream an ISO from the Internet.")</span>
					</label>
				</div>
			</div>

			<!-- 1-2 -->
			<div class="step-box" id="iso_scan_box" style="display: none;">
				<h2 class="step-title">$_("Please specify a scan type:")</h2>
				<div>
					<label class="step-option">
						<input type="radio" id="iso_scan_shallow" name="iso_scan_type" value="shallow">
						<span>$_("Shallow scan")</span>
					</label>
					<label class="step-option">
						<input type="radio" id="iso_scan_deep" name="iso_scan_type" value="deep">
						<span>$_("Deep scan")</span>
					</label>
					<div class="btn-group">
						<button class="btn-normal" id="btn-iso-scan" disabled="disabled"><span class="text">$_("Scan")</span></button>
					</div>
				</div>
			</div>

			<!-- 1-1-1 -->
			<div class="step-box" id="iso_file_box" style="display: none;">
				<h2 class="step-title">$_("Select the ISO you would like to use to create a template:")</h2>
				<div>
					<input type="text" class="text" style="width: 92%" id="iso_file" name="iso_file" value="">
					<div class="btn-group">
						<button class="btn-normal" id="btn-template-iso-create" disabled="disabled"><span class="text">$_("Create")</span></button>
					</div>
				</div>
			</div>

			<!-- 1-1-2 -->
			<div class="step-box" id="iso_url_box" style="display: none;">
				<h2 class="step-title">$_("Please enter a URL:")</h2>
				<div>
					<input type="text" class="text" style="width: 92%" id="iso_url" name="iso_url" value="">
					<div class="btn-group">
						<button class="btn-normal" id="btn-template-url-create" disabled="disabled"><span class="text">$_("Create")</span></button>
					</div>
				</div>
			</div>
		</div>

		<div id="iso-field" class="iso-field" style="display: none;">
			<h2 class="iso-field-title">$_("Discovered ISO Files")</h2>
			<div class="toolbar">
				<label class="check-all">
					<input type="checkbox" id="select_all_iso">$_("All")
				</label>
			</div>

			<div>
				<form id="form-iso">
				<ul id="list-iso" class="list-iso">
				</ul>
				</form>
				<script id="tmpl-list-iso" type="text/html">
					<li>
						<div class="box box-iso">
							<h3 class="iso-title">
								<label title="{name}">
									<input type="checkbox" name="iso" value="{isoId}">{name}
								</label>
							</h3>
							<div class="ios-info">
								<div class="ios-info-col">
									<div class="info-item"><label>$_("OS: ")</label><span>{os_distro}</span></div>
									<div class="info-item"><label>$_("Version: ")</label><span>{os_version}</span></div>
								</div>
								<div class="ios-info-col">
									<div class="info-item"><label>$_("Size: ")</label><span>{capacity!Known} M</span></div>
								</div>
							</div>
						</div>
					</li>
				</script>
			</div>
			<div class="btn-group">
				<button class="btn-normal" id="btn-template-iso-selecte-create" disabled="disabled"><span class="text">$_("Create Templates from Selected ISO")</span></button>
			</div>
		</div>

	</div>
</div>
<script>
kimchi.template_add_main();
</script>
</body>
</html>
