[Unit]
Description=Burnet server
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=simple
ExecStart=/usr/bin/burnetd
ExecStop=/bin/kill -TERM $MAINPID
EnvironmentFile=/etc/burnet/burnet.conf

[Install]
WantedBy=multi-user.target
