*.pyc
*~
i18n/mo/*
log
data
mo
autom4te.cache
Makefile
Makefile.in
aclocal.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
configure
config.log
config.status
contrib/DEBIAN/control
contrib/kimchi.spec.fedora
contrib/kimchi.spec.suse
contrib/make-deb.sh
docs/kimchid.8
*.min.css
*.min.js
*.gmo
stamp-po
kimchi-*.tar.gz
src/kimchid
src/kimchi.conf
src/nginx/kimchi.conf
src/kimchi/config.py
tests/run_tests.sh
tests/test_config.py
plugins/sample/po/POTFILES
plugins/sample/sample.conf
po/POTFILES
po/gen-pot
*.orig
*.rej
*.pem
ui/pages/help/*/*.html
