*.pyc
*~
i18n/mo/*
log
data
mo
autom4te.cache
Makefile
Makefile.in
aclocal.m4
m4/pkg.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
configure
config.log
config.status
contrib/DEBIAN/control
contrib/wok.spec.fedora
contrib/wok.spec.suse
contrib/make-deb.sh
docs/wokd.8
*.min.css
*.min.js
*.gmo
stamp-po
wok-*.tar.gz
wok.spec
src/wokd
src/wok.conf
src/nginx/wok.conf
src/wok/config.py
tests/run_tests.sh
tests/test_config.py
plugins/sample/po/POTFILES
plugins/sample/sample.conf
po/POTFILES
po/gen-pot
*.orig
*.rej
*.pem
