*.pyc
*~
i18n/mo/*
log
data
mo
autom4te.cache
Makefile
Makefile.in
aclocal.m4
configure
config.log
config.status
*.min.css
*.min.js
*.gmo
stamp-po
kimchi-*.tar.gz
src/kimchid
po/POTFILES
*.orig
*.rej
