*.pyc
*~
i18n/mo/*
log
data
mo
autom4te.cache
Makefile
Makefile.in
aclocal.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
configure
config.log
config.py
config.status
contrib/DEBIAN/control
contrib/gingerbase.spec.fedora
contrib/gingerbase.spec.suse
contrib/make-deb.sh
*.min.css
*.min.js
*.gmo
stamp-po
gingerbase-*.tar.gz
tests/run_tests.sh
tests/test_config.py
po/POTFILES
po/gen-pot
*.orig
*.rej
*.pem
ui/pages/help/*/*.html
