#report-add-window {
    height: 300px;
    width: 400px;
}

#report-add-window .field {
    font-size: 12px;
}

#report-name-textbox {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: .5em 0;
    width: 100%;
}