@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99320945');
  src: url('../font/fontello.eot?99320945#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?99320945') format('woff'),
       url('../font/fontello.ttf?99320945') format('truetype'),
       url('../font/fontello.svg?99320945#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99320945#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-tag:before { content: '\e803'; } /* '' */
.icon-dot-2:before { content: '\e804'; } /* '' */
.icon-arrows-cw:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-edit-alt:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-th-large:before { content: '\e80c'; } /* '' */
.icon-th:before { content: '\e80d'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-star-empty:before { content: '\e810'; } /* '' */
.icon-users:before { content: '\e811'; } /* '' */
.icon-upload:before { content: '\e812'; } /* '' */
.icon-circle-thin:before { content: '\e813'; } /* '' */
.icon-dot-circled:before { content: '\e814'; } /* '' */
.icon-ok:before { content: '\e815'; } /* '' */
.icon-check-empty-1:before { content: '\e816'; } /* '' */
.icon-clock-2:before { content: '\e817'; } /* '' */
.icon-ok-squared:before { content: '\e818'; } /* '' */
.icon-pin:before { content: '\e820'; } /* '' */
.icon-eye:before { content: '\e821'; } /* '' */
.icon-attach:before { content: '\e824'; } /* '' */
.icon-unlink:before { content: '\e825'; } /* '' */
.icon-link:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-info:before { content: '\e828'; } /* '' */
.icon-info-circled:before { content: '\e829'; } /* '' */
.icon-export:before { content: '\e82f'; } /* '' */
.icon-export-alt:before { content: '\e830'; } /* '' */
.icon-share:before { content: '\e831'; } /* '' */
.icon-share-squared:before { content: '\e832'; } /* '' */
.icon-retweet:before { content: '\e836'; } /* '' */
.icon-attention-alt:before { content: '\e837'; } /* '' */
.icon-attention:before { content: '\e838'; } /* '' */
.icon-attention-circled:before { content: '\e839'; } /* '' */
.icon-location:before { content: '\e83a'; } /* '' */
.icon-trash:before { content: '\e83b'; } /* '' */
.icon-doc:before { content: '\e83c'; } /* '' */
.icon-docs:before { content: '\e83d'; } /* '' */
.icon-doc-text:before { content: '\e83e'; } /* '' */
.icon-doc-inv:before { content: '\e83f'; } /* '' */
.icon-doc-text-inv:before { content: '\e840'; } /* '' */
.icon-file-pdf:before { content: '\e841'; } /* '' */
.icon-file-word:before { content: '\e842'; } /* '' */
.icon-file-excel:before { content: '\e843'; } /* '' */
.icon-file-powerpoint:before { content: '\e844'; } /* '' */
.icon-file-image:before { content: '\e845'; } /* '' */
.icon-cog:before { content: '\e84b'; } /* '' */
.icon-cog-alt:before { content: '\e84c'; } /* '' */
.icon-wrench:before { content: '\e84d'; } /* '' */
.icon-calendar:before { content: '\e84e'; } /* '' */
.icon-calendar-empty:before { content: '\e84f'; } /* '' */
.icon-clock:before { content: '\e852'; } /* '' */
.icon-block:before { content: '\e853'; } /* '' */
.icon-zoom-in:before { content: '\e857'; } /* '' */
.icon-zoom-out:before { content: '\e858'; } /* '' */
.icon-down-circled2:before { content: '\e859'; } /* '' */
.icon-up-circled2:before { content: '\e85a'; } /* '' */
.icon-left-circled2:before { content: '\e85b'; } /* '' */
.icon-right-circled2:before { content: '\e85c'; } /* '' */
.icon-down-dir:before { content: '\e85d'; } /* '' */
.icon-up-dir:before { content: '\e85e'; } /* '' */
.icon-left-dir:before { content: '\e85f'; } /* '' */
.icon-right-dir:before { content: '\e860'; } /* '' */
.icon-down-open:before { content: '\e861'; } /* '' */
.icon-left-open:before { content: '\e862'; } /* '' */
.icon-right-open:before { content: '\e863'; } /* '' */
.icon-up-open:before { content: '\e864'; } /* '' */
.icon-angle-left:before { content: '\e865'; } /* '' */
.icon-angle-right:before { content: '\e866'; } /* '' */
.icon-angle-up:before { content: '\e867'; } /* '' */
.icon-angle-down:before { content: '\e868'; } /* '' */
.icon-angle-circled-left:before { content: '\e869'; } /* '' */
.icon-angle-circled-right:before { content: '\e86a'; } /* '' */
.icon-angle-circled-up:before { content: '\e86b'; } /* '' */
.icon-angle-circled-down:before { content: '\e86c'; } /* '' */
.icon-angle-double-left:before { content: '\e86d'; } /* '' */
.icon-angle-double-right:before { content: '\e86e'; } /* '' */
.icon-angle-double-up:before { content: '\e86f'; } /* '' */
.icon-angle-double-down:before { content: '\e870'; } /* '' */
.icon-down-big:before { content: '\e871'; } /* '' */
.icon-left-big:before { content: '\e872'; } /* '' */
.icon-right-big:before { content: '\e873'; } /* '' */
.icon-up-big:before { content: '\e874'; } /* '' */
.icon-left-circled:before { content: '\e875'; } /* '' */
.icon-right-circled:before { content: '\e876'; } /* '' */
.icon-up-circled:before { content: '\e877'; } /* '' */
.icon-down-circled:before { content: '\e878'; } /* '' */
.icon-cw:before { content: '\e879'; } /* '' */
.icon-ccw:before { content: '\e87a'; } /* '' */
.icon-level-up:before { content: '\e87c'; } /* '' */
.icon-level-down:before { content: '\e87d'; } /* '' */
.icon-shuffle:before { content: '\e87e'; } /* '' */
.icon-exchange:before { content: '\e87f'; } /* '' */
.icon-history:before { content: '\e880'; } /* '' */
.icon-expand:before { content: '\e881'; } /* '' */
.icon-collapse:before { content: '\e882'; } /* '' */
.icon-expand-right:before { content: '\e883'; } /* '' */
.icon-collapse-left:before { content: '\e884'; } /* '' */
.icon-play:before { content: '\e885'; } /* '' */
.icon-play-circled2:before { content: '\e886'; } /* '' */
.icon-play-circled:before { content: '\e887'; } /* '' */
.icon-stop:before { content: '\e888'; } /* '' */
.icon-cloud:before { content: '\e889'; } /* '' */
.icon-table:before { content: '\e88a'; } /* '' */
.icon-off:before { content: '\e88b'; } /* '' */
.icon-check:before { content: '\e88c'; } /* '' */
.icon-asterisk:before { content: '\e88e'; } /* '' */
.icon-chart-bar:before { content: '\e88f'; } /* '' */
.icon-bug:before { content: '\e890'; } /* '' */
.icon-certificate:before { content: '\e891'; } /* '' */
.icon-tasks:before { content: '\e892'; } /* '' */
.icon-sort-up:before { content: '\e893'; } /* '' */
.icon-sort-down:before { content: '\e894'; } /* '' */
.icon-sort:before { content: '\e895'; } /* '' */
.icon-gauge:before { content: '\e896'; } /* '' */
.icon-spinner:before { content: '\e897'; } /* '' */
.icon-database:before { content: '\e898'; } /* '' */
.icon-lifebuoy:before { content: '\e899'; } /* '' */
.icon-cubes:before { content: '\e89a'; } /* '' */
.icon-cube:before { content: '\e89b'; } /* '' */
.icon-bullseye:before { content: '\e89c'; } /* '' */
.icon-windows:before { content: '\e89d'; } /* '' */
.icon-cancel-circled-1:before { content: '\e89e'; } /* '' */
.icon-plus-1:before { content: '\e8a0'; } /* '' */
.icon-plus-circled-1:before { content: '\e8a1'; } /* '' */
.icon-minus-1:before { content: '\e8a3'; } /* '' */
.icon-minus-circled-1:before { content: '\e8a4'; } /* '' */
.icon-help-circled-1:before { content: '\e8a7'; } /* '' */
.icon-heart-empty-1:before { content: '\e8aa'; } /* '' */
.icon-mail-1:before { content: '\e8ab'; } /* '' */
.icon-star-1:before { content: '\e8ac'; } /* '' */
.icon-star-empty-1:before { content: '\e8ad'; } /* '' */
.icon-link-1:before { content: '\e8ae'; } /* '' */
.icon-attach-1:before { content: '\e8af'; } /* '' */
.icon-eye-1:before { content: '\e8b2'; } /* '' */
.icon-attention-1:before { content: '\e8b3'; } /* '' */
.icon-doc-text-1:before { content: '\e8b4'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e8b5'; } /* '' */
.icon-share-1:before { content: '\e8b7'; } /* '' */
.icon-shareable:before { content: '\e8b8'; } /* '' */
.icon-ccw-1:before { content: '\e8cc'; } /* '' */
.icon-cw-1:before { content: '\e8cd'; } /* '' */
.icon-arrows-ccw:before { content: '\e8ce'; } /* '' */
.icon-play-1:before { content: '\e8cf'; } /* '' */
.icon-pause:before { content: '\e8d0'; } /* '' */
.icon-record:before { content: '\e8d1'; } /* '' */
.icon-stop-1:before { content: '\e8d2'; } /* '' */
.icon-switch:before { content: '\e8d3'; } /* '' */
.icon-loop:before { content: '\e8d4'; } /* '' */
.icon-cloud-1:before { content: '\e8d5'; } /* '' */
.icon-certificate-outline:before { content: '\e8db'; } /* '' */
.icon-certificate-1:before { content: '\e8dc'; } /* '' */
.icon-windows-1:before { content: '\e8dd'; } /* '' */
.icon-spin5:before { content: '\e8df'; } /* '' */
.icon-spin2:before { content: '\e8e0'; } /* '' */
.icon-picture:before { content: '\e8e4'; } /* '' */
.icon-menu:before { content: '\e8e5'; } /* '' */
.icon-sliders:before { content: '\e8e6'; } /* '' */
.icon-list-alt:before { content: '\e8e7'; } /* '' */
.icon-ajust:before { content: '\e8e8'; } /* '' */
.icon-circle:before { content: '\e8e9'; } /* '' */
.icon-circle-empty:before { content: '\e8ea'; } /* '' */
.icon-circle-notch:before { content: '\e8ec'; } /* '' */
.icon-fork:before { content: '\e8ed'; } /* '' */
.icon-sitemap:before { content: '\e8ee'; } /* '' */
.icon-stethoscope:before { content: '\e8ef'; } /* '' */
.icon-shield:before { content: '\e8f0'; } /* '' */
.icon-heart-1:before { content: '\e8f1'; } /* '' */
.icon-search-1:before { content: '\e8f2'; } /* '' */
.icon-menu-1:before { content: '\e8f3'; } /* '' */
.icon-back:before { content: '\e8f6'; } /* '' */
.icon-home-1:before { content: '\e8f7'; } /* '' */
.icon-pencil-1:before { content: '\e8f8'; } /* '' */
.icon-location-1:before { content: '\e8f9'; } /* '' */
.icon-logout-1:before { content: '\e8fb'; } /* '' */
.icon-login-1:before { content: '\e8fc'; } /* '' */
.icon-publish:before { content: '\e8fd'; } /* '' */
.icon-window:before { content: '\e8fe'; } /* '' */
.icon-chart-pie:before { content: '\e8ff'; } /* '' */
.icon-chart-line:before { content: '\e900'; } /* '' */
.icon-chart-area:before { content: '\e901'; } /* '' */
.icon-chart-bar-1:before { content: '\e902'; } /* '' */
.icon-air:before { content: '\e905'; } /* '' */
.icon-database-1:before { content: '\e906'; } /* '' */
.icon-flow-cascade:before { content: '\e907'; } /* '' */
.icon-flow-tree:before { content: '\e908'; } /* '' */
.icon-flow-line:before { content: '\e909'; } /* '' */
.icon-flow-branch:before { content: '\e90a'; } /* '' */
.icon-flow-parallel-1:before { content: '\e90f'; } /* '' */
.icon-dot:before { content: '\e910'; } /* '' */
.icon-dot-3:before { content: '\e911'; } /* '' */
.icon-cd:before { content: '\e912'; } /* '' */
.icon-back-in-time:before { content: '\e913'; } /* '' */
.icon-list:before { content: '\e914'; } /* '' */
.icon-list-add:before { content: '\e915'; } /* '' */
.icon-progress-0:before { content: '\e919'; } /* '' */
.icon-pencil-2:before { content: '\e91d'; } /* '' */
.icon-cog-2:before { content: '\e91f'; } /* '' */
.icon-cog-circled:before { content: '\e920'; } /* '' */
.icon-cogs:before { content: '\e921'; } /* '' */
.icon-calendar-1:before { content: '\e924'; } /* '' */
.icon-doc-new:before { content: '\e925'; } /* '' */