#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2014
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div class="toolbar">
    <div class="tools" style="display:none">
        <a id="networkAdd" class="btn-tool" href="javascript:void(0);"><span class="icon add">+</span></a>
    </div>
</div>
<div id="network-content" class="network">
    <div class="list">
        <div class="header">
        <span class="column column-name">$_("Network Name")</span><!--
     --><span class="column column-state">$_("State")</span><!--
     --><span class="column column-type">$_("Network Type")</span><!--
     --><span class="column column-interface">$_("Interface")</span><!--
     --><span class="column column-space">$_("Address Space")</span><!--
     --><span class="column" style="display:none">$_("Actions")</span>
        </div>
        <div id="networkBody" class="empty-when-logged-off"></div>
    </div>
    <div id="networkConfig" class="network-config">
        <div class="section-container">
            <div class="section-header">1. $_("Network Name")</div>
            <div class="section-content">
                <input type="text" id="networkName" class="network-label"/>
                <div class="input-hint">
                    <span class="ui-icon ui-icon-info input-hint-icon"></span>
                    <span class="input-hint-text">$_("Name should not contain '/' and '\"'.")</span>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">2. $_("Network Type")</div>
            <div class="section-content">
                <div class="input-container">
                    <input type="radio" id="networkTypeIso" name="networkType" value="isolated" />
                    <label for="networkTypeIso">$_("Isolated: no external network connection")</label>
                </div>
                <div class="input-container">
                    <input type="radio" id="networkTypeNat" name="networkType" value="nat" />
                    <label for="networkTypeNat">$_("NAT: outbound physical network connection only")</label>
                </div>
                <div class="input-container">
                    <div class="bridged-inline">
                        <input type="radio" id="networkTypeBri" name="networkType" value="bridged" />
                    </div>
                    <div class="bridged-inline">
                        <label for="networkTypeBri">$_("Bridged: Virtual machines are connected to physical network directly")</label><br />
                        <label id="networkBriDisabledLabel" style="display:none">$_("(No interfaces found)")</label>
                    </div>
                </div>
                <div id="bridgeOptions">
                    <div>
                        <div class="bridge-option-column">
                            <label for="networkInterface">$_("Destination"): </label>
                        </div>
                        <div class="bridge-option-column">
                            <div class="network-type-wrapper-controls">
                                <div id ="networkDestinationID">
                                    <input id="networkDestinationInputId" name="type" type="hidden"/>
                                    <span id="networkDestinationLabel" type="text"></span><span class="arrow"></span>
                                    <div>
                                        <ul id="networkInterface"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input id="enableVlan" type="checkbox" value="" />
                        <label for="enableVlan" id="labelEnableVlan">$_("Enable VLAN") </label>
                    </div>
                        <label for="networkVlanID" id="labelNetworkVlanID">$_("VLAN ID"): </label>
                        <input type="text" id="networkVlanID" class="network-label"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="networkItem" type="text/html">
    <div id='{name}' class='item remove-when-logged-off'>
    <span class='column column-name cell' title="{name}">{name}</span><!--
 --><span class='column column-state cell'><span class='network-state {state}'></span></span><!--
 --><span class='column column-type cell'>{type}</span><!--
 --><span class='column column-interface cell'>{interface}</span><!--
 --><span class='column column-space cell'>{addrSpace}</span><!--
 --><span class='column-action' style="display:none">
        <span class="ui-button-secondary dropdown popable action-button">
            $_("Actions")
            <ul class='popover actionsheet right-side menu-container'>
                <li nwAct="start" class='{startClass}'><a class='button-big'>$_("Start")</a></li>
                <li nwAct="stop" class='{stopClass}'><a {stopDisabled} class='button-big'>$_("Stop")</a></li>
                <li nwAct="delete" class='{deleteClass}'><a {deleteDisabled} class='red'>$_("Delete")</a></li>
            </ul>
        </span>
    </span>
    </div>
</script>
<script>
    kimchi.initNetwork();
</script>
</body>
</html>
