#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="plugins/kimchi/css/theme-default.min.css">
<script src="plugins/kimchi/js/kimchi.min.js"></script>
</head>
<body>
<div id="storage-root-container">
    <nav class="navbar navbar-default toolbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toolbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="toolbar">
                <ul class="nav navbar-nav navbar-right tools" display="none">
                    <li><a id="storage-pool-add" class="btn-tool" href="javascript:void(0);"><i class="fa fa-plus-circle"></i><span>Add a Storage</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='storage'>
        <div class="container">
            <div class="row grid-control">
                <div class="pull-right">
                    <label for="storage-filter" class="sr-only">$_("Filter"):</label>
                    <input type="text" class="filter form-control" placeholder="$_("Filter")">
                </div>
            </div>
            <div id="alert-container"></div>
            <div id='storageGrid'>
                <div>
                    <span class="column-state"><span class="sr-only">$_("State")</span></span><!--
                    --><span class="column-name">$_("Name")</span><!--
                    --><span class="column-type">$_("Type")</span><!--
                    --><span class="column-location">$_("Location")</span><!--
                    --><span class="column-usage">$_("%Used")</span><!--
                    --><span class="column-allocated">$_("Allocated")</span><!--
                    --><span class="column-capacity">$_("Capacity")</span><!--
                    --><span class="column-disks">$_("Disks")</span><!--
                    --><span class="column-action" display="none"><span class="sr-only">$_("Actions")</span></span>
                </div>
                <div id="storagepoolsList" class="list-storage empty-when-logged-off"></div>
            </div>
            <div id="logicalPoolExtend" class="modal fade logicalpool-modal" tabindex="-2" role="dialog" aria-labelledby="logicalPoolExtendLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="logicalPoolExtendLabel">$_("Device path")</h4>
                          </div>
                          <div class="modal-body">
                                <p  id="loading-info" class="hidden"><span class="wok-loading-icon"></span><span>$_("Looking for available partitions ...")</span></p>
                                <div class="host-partition">
                                </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" id="savePartitions" class="btn btn-default" disabled="disabled">$_("Save")</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
                          </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script id="storageTmpl" type="html/text">
        <div id="{name}" class="storage-li in" data-name="{name}" data-stat="{state}">
               <span class='column-state' val="{state}">
                    <span class='storage-state {state}'>
                        <i class="fa fa-power-off"></i>
                    </span>
                </span><!--
            --><span class='column-name' title="{name}" val="{name}">{name}</span><!--
            --><span class='column-type' val="{type}">{type}</span><!--
            --><span class='column-location' val="{path}">{path}</span><!--
            --><span class='column-usage {state}' val="{usage}" ><span class='usage-icon {icon}'>{usage}</span>%</span><!--
            --><span class='column-allocated' val="{allocated}">{allocated}</span><!--
            --><span class='column-capacity' val="{capacity}">{capacity}</span><!--
            --><span class="column-disks {state}">
                    <div class="handle arrow-down"></div>
                </span><!--
            --><span class="column-action storage-button" style="display:none">
                <span class="pull-right">
                <div class="dropdown menu-flat storage-action" data-state="{state}" data-type="{type}" data-name="{name}">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span class="edit-alt"></span>$_("Actions")<span class="caret"></span></button>
                    <ul class="dropdown-menu actionsheet">
                        <li role="presentation">
                            <a href="#" class="pool-deactivate" data-stat="{state}" data-name="{name}" data-persistent="{persistent}" href="#"><i class="fa fa-minus-circle"></i>$_("Deactivate")</a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="pool-activate" data-stat="{state}" data-name="{name}"><i class="fa fa-power-off"></i>$_("Activate")</a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="pool-add-volume" data-stat="{state}" data-name="{name}" data-type="{type}"><i class="fa fa-plus-circle"></i>$_("Add Volume")</a>
                        </li>
                        <li role="presentation" class="{enableExt}">
                            <a href="#" class="pool-extend" data-stat="{state}" data-name="{name}" data-toggle="modal" data-target="#logicalPoolExtend"><i class="fa fa-external-link-square"></i>$_("Extend")</a>
                        </li>
                        <li role="presentation" class="critical">
                            <a href="#" class="pool-delete" data-stat="{state}" data-name="{name}"><i class="fa fa-ban"></i>$_("Undefine")</a>
                        </li>
                    </ul>
                </div>
                </span>
            </span>
        <div class="volumes">
           <div id="volume{name}" class="volumeslist" data-name="{name}" ></div>
           <div class="clear"></div>
        </div>
        </div>
</script>
<script id="volumeTmpl" type="html/text">
        <div class="volume-box" data-volume-name="{name}">
            <div class="volume-title">
                <div class="volume-name" title="{name}">{name}</div>
                <div class="volume-utilization">
                    <span class="volume-icon {capacityIcon}"></span>
                    <span class="volume-usage">{capacityLevel}%</span>
                </div>
                <div class="volume-progress hidden">
                    <div class="progress-bar-outer">
                        <div class="progress-bar-inner"></div>
                    </div>
                    <div class="progress-label">
                        <span class="progress-status"></span>
                        <span class="progress-transferred"></span>
                    </div>
                </div>
            </div>
            <div class="volume-setting">
            </div>
            <ul class="volume-data">
                <li>
                    <span class="value"  title="{format}">{format}</span>
                    <span class="key">$_("Format")</span>
                </li>
                <li>
                    <span class="value"  title="{type}">{type}</span>
                    <span class="key">$_("Type")</span>
                </li>
                <li>
                    <span class="value"  title="{allocation}">{allocation}</span>
                    <span class="key">$_("Allocation")</span>
                </li>
                <li>
                    <span class="value"  title="{capacity}">{capacity}</span>
                    <span class="key">$_("Capacity")</span>
                </li>
            </ul>
      </div>
</script>
<script id="logicalPoolExtendTmpl" type="html/text">
    <div>
        <input type="checkbox" class="wok-checkbox" id="{name}" value="{path}" name="devices">
        <label for="{name}">
            <div>
                <span class="device-name">{name}</span>
                <span class="device-path">{path}</span>
            </div>
        </label>
    </div>
</script>
<script>
    kimchi.storage_main();
</script>
<div id="modalWindow" class="modal fade storage-modal" tabindex="-1" role="dialog" aria-labelledby="storageModalLabel" aria-hidden="true"> </div>
</body>
</html>