#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div class="toolbar">
    <div class="tools" style="display:none">
        <a id="storage-pool-add" class="btn-tool" href="javascript:void(0);"><span class="icon add">+</span></a>
    </div>
</div>
<div>
    <div class="list-title">
        <li class="title-name">
		<span>$_("Name")</span>
		<span class="title-usage">$_("%Used")</span>
        </li>
        <li class="title-state" >$_("State")</li>
        <li class="title-location">$_("Location")</li>
        <li class="title-type">$_("Type")</li>
        <li class="title-capacity">$_("Capacity")</li>
        <li class="title-allocate">$_("Allocated")</li>
        <li class="title-actions" style="display:none">$_("Actions")</li>
    </div>
    <ul id="storagepoolsList" class="list-storage empty-when-logged-off"></ul>
</div>
<div id="logicalPoolExtend" title="$_("Device path")">
     <p id="loading-info" class="text-help">
         <img src = "images/theme-default/loading.gif" />
         $_("Looking for available partitions ...")
     </p>
     <div class="host-partition">
     </div>
</div>
<script id="storageTmpl" type="html/text">
    <li id="{name}">
        <div class="storage-li in" data-name="{name}" data-stat="{state}">
            <div class="storage-name">
                <span class="storage-title" title="{name}">{name}</span>
                <span class="storage-title usage">{usage}%</span>
            </div>
            <div class="storage-state">
                <div class="status-dot toolable active" data-state="{state}">
                    <label class="tooltip">$_("active")</label>
                </div>
                <div class="status-dot toolable inactive" data-state="{state}">
                    <label class="tooltip">$_("inactive")</label>
                </div>
            </div>
            <div class="storage-location">
                <div class="storage-text">{path}</div>
            </div>
            <div class="storage-type">
                <div class="storage-text">{type}</div>
            </div>
            <div class="storage-capacity">
                <div class="storage-text" data-type="{type}">{capacity}</div>
            </div>
            <div class="storage-allocate">
                <div class="storage-text" data-type="{type}">{allocated}</div>
            </div>
            <div class="bottom storage-button" style="display:none">
                <div class="btn dropdown popable storage-action" data-state="{state}" data-type="{type}" data-name="{name}">
                    <span class="text">$_("Actions")</span><span class="arrow"></span>
                    <div class="popover actionsheet right-side" style="width: 250px">
                        <button class="button-big pool-deactivate" data-stat="{state}" data-name="{name}" data-persistent="{persistent}"><span class="text">$_("Deactivate")</span></button>
                        <button class="button-big pool-activate" data-stat="{state}" data-name="{name}"><span class="text">$_("Activate")</span></button>
                        <button class="button-big pool-add-volume" data-stat="{state}" data-name="{name}" data-type="{type}"><span class="text">$_("Add Volume")</span></button>
                        <button class="button-big pool-extend {enableExt}" data-stat="{state}" data-name="{name}"><span class="text">$_("Extend")</span></button>
                        <button class="button-big red pool-delete" data-stat="{state}" data-name="{name}"><span class="text">$_("Undefine")</span></button>
                    </div>
                </div>
            </div>
            <div class="handle">
                <div class="arrow-down"></div>
            </div>
        </div>
        <div class="volumes">
           <div id="volume{name}" class="volumeslist" data-name="{name}" ></div>
           <div class="clear"></div>
        </div>
    </li>
</script>
<script id="volumeTmpl" type="html/text">
        <div class="volume-box white-box" data-volume-name="{name}">
            <div class="storage-icon volume-default icon-{format} ">
            </div>
            <div class="volume-title">
                <div class="volume-name" title="{name}">{name}</div>
                <div class="volume-progress hidden">
                    <div class="progress-bar-outer">
                        <div class="progress-bar-inner"></div>
                    </div>
                    <div class="progress-label">
                        <span class="progress-status"></span>
                        <span class="progress-transferred"></span>
                    </div>
                </div>
            </div>
            <div class="volume-setting">
            </div>
            <div class="volume-type-position">
                <div title="{type}" class="volume-text">$_("Type"): {type}</div>
                <div title="{format}" class="volume-text">$_("Format"): {format}</div>
            </div>
            <div class="volume-quota-position">
                <div title="{capacity}" class="volume-textquota">$_("Capacity"): {capacity}</div>
                <div title="{allocation}"class="volume-textquota">$_("Allocation"): {allocation}</div>
            </div>
      </div>
</script>
<script id="logicalPoolExtendTmpl" type="html/text">
    <div>
        <input type="checkbox" value="{path}" name="devices" id="{name}">
        <label for="{name}">{path}</label>
    </div>
</script>
<script>
    kimchi.storage_main();
</script>
</body>
</html>
