#*
* Project Kimchi
*
* Copyright IBM Corp, 2013-2016
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="plugins/kimchi/css/kimchi.css">
    <script src="plugins/kimchi/js/kimchi.min.js"></script>
</head>
<body>
    <div id="templates-root-container">
        <nav class="navbar navbar-default toolbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toolbar" aria-expanded="false">
                    <span class="sr-only">$_("Toggle navigation")</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="toolbar">
                <ul class="nav navbar-nav navbar-right tools" display="none">
                    <li><a id="template-add" class="btn-tool" href="javascript:void(0);"><i class="fa fa-plus-circle"></i><span>$_("Add Template")</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="templates">
        <div id="templates-container" class="container hidden">
            <div class="row grid-control empty-when-logged-off">
                <div class="pull-left">
                    <button type="button" id="gallery-table-button" class="btn btn-default"><span class="text">$_("View Gallery")</span> <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
                </div>

                <div class="form-group pull-right">
                    <div class="btn-group bootstrap-select control">
                        <button type="button" class="btn dropdown-toggle form-control selectpicker btn-default sort-button" data-toggle="dropdown" title="Status" aria-expanded="false"><span class="filter-option pull-left">$_("Status")</span>&nbsp;<span class="caret"></span></button>
                        <div class="dropdown-menu open" style="max-height: 668px; overflow: hidden; min-height: 0px;padding: 0px;">
                            <ul class="dropdown-menu inner selectpicker" role="menu" style="max-height: 656px; overflow-y: auto; min-height: 0px;">
                                <li role="presentation" nwAct="sort"><a href="#" class="sort" data-sort="name-filter">$_("Name")</a></li>
                                <li role="presentation" nwAct="clone"><a href="#" class="sort" data-sort="os-type-filter">$_("OS")</a></li>
                                <li role="presentation" nwAct="clone"><a href="#" class="sort" data-sort="os-version-filter">$_("Version")</a></li>
                                <li role="presentation" nwAct="clone"><a href="#" class="sort" data-sort="cpus-filter">$_("CPUs")</a></li>
                                <li role="presentation" nwAct="clone"><a href="#" class="sort" data-sort="memory-filter">$_("Memory")</a></li>
                            </ul>
                        </div>
                    </div>

                     <label for="search_input" class="sr-only">$_("Filter"):</label>
                     <input type="text" class="filter form-control search" id="search_input" placeholder="$_("Filter")">
                 </div>
            </div>
            <div id="alert-container"></div>
            <div id="noTemplates" class="list-no-result" style="display: none;">
                $_("No templates found.")
            </div>
            <div id="alert-container"></div>
            <ul id="templates-grid" class="wok-vm-list hidden empty-when-logged-off">
                <li class="wok-vm-header">
                        <span class="column-name">$_("Template Name (ID)")</span><!--
                  --><span class="column-type">$_("OS")</span><!--
                  --><span class="column-version">$_("Version")</span><!--
                  --><span class="column-processors">$_("CPUs")</span><!--
                  --><span class="column-memory">$_("Memory")</span><!--
                  --><span class="column-action" style="display:none"><span class="sr-only">$_("Actions")</span></span>
                    </li>
                    <li>
                        <ul id="templateList" class="ul-body list">
                        </ul>
                    </li>
            </ul>
        </div>
    </div>
    <div class="wok-mask">
        <div class="wok-mask-loader-container">
            <div class="wok-mask-loading">
                <div class="wok-mask-loading-icon"></div>
                <div class="wok-mask-loading-text">$_("Loading...")</div>
            </div>
        </div>
    </div>
    <div id="modalWindow" class="modal fade host-modal templates-modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="templatesModalLabel" aria-hidden="true">
    </div>
    <script>
    kimchi.template_main();
    </script>
    <script id="templateTmpl" type="html/text">
        <li class="wok-vm-body">
            <span class='column-name name-filter name-distro-icon icon-{os_distro}' title="{name}" val="{name}">{name}</span><!--
            --><span class='column-action pull-right'>
                <span class="pull-right">
                    <div class="dropdown menu-flat">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><span class="edit-alt"></span>$_("Actions")<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" nwAct="edit" class='template-edit'><a href="#" data-template='{name}'><i class="fa fa-pencil"></i>$_("Edit")</a></li>
                            <li role="presentation" nwAct="clone" class='template-clone'><a href="#" data-template='{name}'><i class="fa fa-files-o"></i>$_("Clone")</a></li>
                            <li role="presentation" nwAct="delete" class='critical template-delete'><a href="#" data-template='{name}'><i class="fa fa-minus-circle"></i>$_("Delete")</a></li>
                        </ul>
                    </div>
                </span>
            </span><!--
            --><span class='column-type os-type-filter distro-icon icon-{os_distro} font-bold' val="{os_distro}">{os_distro}</span><!--
            --><span class="item-hidden column-type os-type-filter">$_("OS")</span><!--
            --><span class='column-version os-version-filter font-bold' val="{os_version}">{os_version}</span><!--
            --><span class="item-hidden column-version os-version-filter">$_("Version")</span><!--
            --><span class='column-processors cpus-filter' val="{cpu_info.vcpus}"><strong>{cpu_info.vcpus} $_("Cores")</strong></span><!--
            --><span class="item-hidden column-processors cpus-filter">$_("CPUs")</span><!--
            --><span class='column-memory memory-filter' val="{memory.current}"><strong>{memory.current} $_("M")</strong></span><!--
            --><span class="item-hidden column-memory memory-filter">$_("Memory")</span>
        </li>
    </script>
</body>
</html>
