#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2014
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div class="toolbar">
    <div class="tools" style="display:none">
        <a id="template-add" class="btn-tool" href="javascript:void(0);"><span class="icon add">+</span></a>
    </div>
</div>
<div>
    <div id="noTemplates" class="list-no-result" style="display: none;">
        $_("No templates found.")
    </div>

    <ul id="templateList" class="empty-when-logged-off"></ul>

    <script id="templateTmpl" type="html/text">

        <div class="template-box white-box template-border">
            <div class="btn dropdown popable" style="width: 70px">
                <span class="text">$_("Actions")</span><span class="arrow"></span>
                <div class="popover actionsheet right-side" style="width: 250px">
                    <a class="button-big template-edit" data-template='{name}'>$_("Edit")</a>
                    <a class="button-big template-clone" data-template='{name}'>$_("Clone")</a>
                    <a class="button-big red template-delete" data-template='{name}'>$_("Delete")</a>
                </div>
            </div>

            <div class="template-icon template-icon-position">
                <img alt="" src="{icon}">
                <img alt="" src="{location}" class="template-type-icon-position">
            </div>
            <div class="template-general template-title template-title-position">
                <h2 class="title" title="{name}">{name}</h2>
            </div>
            <div class="template-os-position">
                <div class="template-text">$_("OS"): {os_distro}</div>
                <div class="template-text">$_("Version"): {os_version}</div>
            </div>
            <div class="template-cpu-position">
                <div class="template-text">$_("CPUs"): {cpus}</div>
                <div class="template-text">$_("Memory"): {memory}M</div>
            </div>
        </div>
    </script>
</div>
<script>
    kimchi.template_main();
</script>
</body>
</html>
