#*
 * Project Ginger Base
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Code derived from Project Kimchi
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="plugins/gingerbase/css/gingerbase.css">
<script src="plugins/gingerbase/js/gingerbase.min.js"></script>
</head>
<body>
<div id="host-root-container">
<nav class="navbar navbar-default toolbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toolbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="toolbar">
      <ul class="nav navbar-nav navbar-right tools">
        <li><a id="host-button-restart" href="javascript:void(0);"><i class="fa fa-undo"></i><span>$_("Restart")</span></a></li>
        <li><a id="host-button-shutdown" href="javascript:void(0);"><i class="fa fa-ban"></i><span>$_("Shut down")</span></a></li>
        <!-- <li><a href="javascript:void(0);"><i class="fa fa-desktop"></i><span>$_("Connect")</span></a></li> -->
      </ul>
    </div>
  </div>
</nav>
    <div id="host-content-container" class="empty-when-logged-off"></div>
</div>

<script id="host-dashboard-tmpl" type="gingerbase/template">
<div class="host-dashboard">
    <div class="container">
        <div id="alert-container"></div>
        <div id="content-sys-statistics" class="row">
            <div class="col-md-3">
                <div id="cpu-dashboard">
                    <h3 class="section-label">$_("CPU")</h3>
                    <div class="section-value">
                        <div id="container-chart-cpu" class="inline-block"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="memory-dashboard">
                    <h3 class="section-label">$_("Memory")</h3>
                    <div class="section-value">
                        <div id="container-chart-memory" class="inline-block"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="disk-dashboard">
                    <h3 class="section-label">$_("Disk I/O")</h3>
                    <div class="section-value">
                        <div id="container-chart-disk-io" class="inline-block"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="network-dashboard">
                    <h3 class="section-label">$_("Network I/O")</h3>
                    <div class="section-value">
                        <div id="container-chart-network-io" class="inline-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="host-panel">
    <div class="container">
        <div id="host-info-container" class="row">
            <div id="content-sys-info" class="panel panel-default col-md-6">
                <div class="panel-heading">
                    <h3 class="panel-title">$_("Basic Information")</h3>
                </div>
                <div class="panel-body">
                    <dl class="basic-information-list">
                        <dt>{os_distro}</dt>
                        <dd>$_("OS Distro")</dd>
                        <dt>{os_version}</dt>
                        <dd>$_("OS Version")</dd>
                        <dt>{os_codename}</dt>
                        <dd>$_("OS Code Name")</dd>
                        <dt>{cpu_model}</dt>
                        <dd>$_("Processor")</dd>
                        <dt>{cpus}</dt>
                        <dd>$_("CPU(s)")</dd>
                        <dt>{memory}</dt>
                        <dd>$_("Memory")</dd>
                    </dl>
                </div>
            </div>
            <div id="debug-report-section" class="col-md-6 hidden"></div>
        </div>
    </div>
</div>
</script>
<div id="modalWindow" class="modal fade host-modal" tabindex="-1" role="dialog" aria-labelledby="hostsModalLabel" aria-hidden="true">
</div>
<script type="text/javascript">
    gingerbase.host_dashboard();
</script>
</body>
</html>
