#*
 * Project Ginger Base
 *
 * Copyright IBM, Corp. 2014-2015
 *
 * Code derived from Project Kimchi
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">$_("Edit Repository")</h4>
    </div>
    <div class="modal-body">
        <form id="form-repository-edit">
            <div class="form-group repository-id yum">
                <label for="repository-edit-id-textbox">$_("ID")</label>
                <input id="repository-edit-id-textbox" class="form-control" name="repo_id" type="text" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group repository-name yum">
                <label for="repository-edit-name-textbox">$_("Name")</label>
                <input id="repository-edit-name-textbox" class="form-control yum" name="config[repo_name]" type="text" />
            </div>
            <div class="form-group repository-url">
                <label for="repository-edit-baseurl-textbox">$_("URL")</label>
                <input id="repository-edit-baseurl-textbox" class="form-control" name="baseurl" type="text" />
            </div>
            <div class="form-group repository-dist deb">
                <label for="repository-edit-urlargs-textbox">$_("Distribution")</label>
                <input id="repository-edit-urlargs-textbox" class="form-control deb" name="config[dist]" type="text" />
            </div>
            <div class="form-group repository-mirrorlist yum">
                <label for="repository-edit-urlargs-textbox">$_("Mirror List URL")</label>
                <input id="repository-edit-urlargs-textbox" class="form-control yum" name="config[mirrorlist]" type="text" />
            </div>
            <div class="form-group repository-comps deb">
                <label for="repository-edit-urlargs-textbox">$_("Components")</label>
                <input id="repository-edit-urlargs-textbox" class="form-control deb" name="config[comps]" type="text" />
            </div>
            <div class="form-group repository-gpgkey yum">
                <label for="repository-edit-gpgkey-textbox">$_("GPG Key")</label>
                <input id="repository-edit-gpgkey-textbox" class="form-control yum" name="config[gpgkey]" type="text" />
            </div>
            <div class="form-group repository-gpgcheck yum">
                <label>$_("GPG Check")</label>
                <label for="repository-edit-gpgcheck-radio-true" class="radio inline control-label">
                    <input id="repository-edit-gpgcheck-radio-true" class="yum" name="config[gpgcheck]" type="radio" value="true" /> $_("Yes")
                </label>
                <label for="repository-edit-gpgcheck-radio-false" class="radio inline control-label">
                    <input id="repository-edit-gpgcheck-radio-false" class="yum" name="config[gpgcheck]" type="radio" value="false" /> $_("No")
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" id="repository-edit-button-save" class="btn btn-default">$_("Save")</button>
        <button type="button" id="repository-edit-button-cancel" class="btn btn-default">$_("Cancel")</button>
    </div>
</div>
<script type="text/javascript">
    gingerbase.repository_edit_main();
</script>
 