#*
 * Project Ginger Base
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Code derived from Project Kimchi
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">$_("Generate a New Debug Report")</h4>
  </div>
  <div class="modal-body">
    <form id="form-report-add">
        <div class="form-group">
            <label for="report-name-textbox">$_("Report Name")</label>
            <input type="text" class="form-control" id="report-name-textbox" name="name" />
            <p class="help-block"><i class="fa fa-info-circle"></i> $_("The name used to identify the report. If omitted, a name will be chosen based on current time. Name can contain: letters, digits, underscore (\"_\") and hyphen (\"-\").")
            </p>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" id="button-report-add" class="btn btn-default" data-dismiss="modal">$_("Generate")</button>
    <button type="button" id="button-report-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
  </div>
</div>
<script>
    gingerbase.report_add_main();
</script> 