#*
 * Project Ginger Base
 *
 * Copyright IBM, Corp. 2014-2015
 *
 * Code derived from Project Kimchi
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">$_("Add a Repository")</h4>
    </div>
    <div class="modal-body">
        <form id="form-repository-add">
                <div class="form-group yum">
                        <label for="repo_id">$_("Identifier")</label>
                        <input type="text" class="form-control" name="repo_id" />
                        <p class="help-block"><i class="fa fa-info-circle"></i> $_("Single word, unique identifier for the repository.")
                        </p>
                </div>
                <div class="form-group yum">
                    <label for="repo_name">$_("Name")</label>
                        <input type="text" class="form-control" id="repo_name" name="config[repo_name]" />
                        <p class="help-block"><i class="fa fa-info-circle"></i> $_("Textual name for the repository.")
                        </p>
                </div>
                <div class="form-group">                
                        <label for="baseurl">$_("URL")<span class="required" role="presentation" title='$_("Required Field")'>*</span></label>
                        <input type="text" class="form-control required" id="baseurl" name="baseurl" />
                        <p class="help-block"><i class="fa fa-info-circle"></i> $_("URL to the repository. Supported protocols are http, ftp, and file.")</p>
                </div>
                <div class="checkbox yum">
                            <label id="isMirrorLabel" for="isMirror">
                            <input type="checkbox" name="isMirror" value="true" id="isMirror" /> $_("Repository is a mirror")</label>
                </div>
                <div class="form-group repository-dist deb">
                    <label>$_("Distribution")</label>
                    <input type="text" class="form-control" name="config[dist]" />
                    <p class="help-block"><i class="fa fa-info-circle"></i> $_("Distribution of the DEB repository.")</p>
                </div>
                <div class="form-group repository-comps deb">
                    <label>$_("Components")</label>
                    <input type="text" class="form-control" name="config[comps]" />
                    <p class="help-block"><i class="fa fa-info-circle"></i> $_("List of components in DEB repository.")</p>
                </div>
        </form>
    </div>
    <div class="modal-footer">
                <button type="submit" id="button-repository-add" class="btn btn-default" disabled="disabled">$_("Add")</button>
                <button type="button" id="button-repository-close" data-dismiss="modal" class="btn btn-default">$("Cancel")</button>
    </div>
</div>
<script>
    gingerbase.repository_add_main();
</script>
 