#encoding UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
<!doctype html>
<html class="no-js" lang=$lang.lang[0]>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Project Burnet</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery-ui.css">

    <script src="js/modernizr.custom.2.6.2.min.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <script src="js/main.js"></script>
</head>

<body class="theme-blue home page page-id-33 page-template-default page-slug-index single-author singular">
    <header>
        <section id="global-nav">
            <nav>
                <div class="constrain">
                    <ul id="projects" class="projects">
                        <li class="project selected"><a href="#" title="$data.hostname">$_($data.hostname)</a></li>
                    </ul>
                    <ul class="links">
                        <li class="dropdown"><a href="#">Host</a>
                            <ul>
                                <li><a href="#">Reboot</a></li>
                                <li><a href="#">Shutdown</a></li>
                                <li><a href="#">SOS Report</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>

    <div id="container">
        <div id="logo-events" class="constrain clearfix">
            <h2 class="logo"><a href="/" title="Project Burnet">Project Burnet</a></h2>
            <div id="Lang">
            Language:
            <select id="localLang">
                <option value="en_US" selected>English (United States)</option>
                <option value="zh_CN">中文（简体）</option>
                <option value="pt_BR">Português (Brasil)</option>
            </select>
	    </div>
        </div>

        <nav id="main" class="constrain clearfix">
            <div class="menu-top-container">
                <ul id="menu-top" class="menu">
                    <li class="menu-item"><a href="#">Guests</a></li>
                    <li class="menu-item"><a href="#">Storage</a></li>
                    <li class="menu-item"><a href="#">Networks</a></li>
                    <li class="menu-item"><a href="#">Statistics</a></li>
                    <li class="menu-item"><a href="#">About</a></li>
                </ul>
            </div>
        </nav>

        <div id="content-wrapper" class="clearfix row">
            <div class="content-full full-width twelve columns">
                <div id="content">

<h2>Virtual Machines</h2>
<ul id="vm-toolbar" class="vm-toolbar">
  <li><a class="icon-desktop" href="#">Display</a></li>
  <li><a class="icon-play" href="#">Power On</a></li>
  <li><a class="icon-off" href="#">Power Off</a></li>
  <li><a class="icon-cogs" href="#">Settings</a></li>
  <li><a class="icon-trash" href="#">Delete</a></li>
  <li><a class="icon-wrench" href="#">More...</a></li>
</ul>

<div id="vms">
</div>
<hr/>

<h2>Templates</h2>
<ul id="template-toolbar" class="vm-toolbar">
  <li><a class="icon-plus" href="#">Create VM</a></li>
  <li><a class="icon-trash" href="#">Delete</a></li>
  <li><a class="icon-cogs" href="#">Settings</a></li>
</ul>

<ul id="breadcrumbs">
<li><a class="icon-angle-right">templates</a></li>
</ul>

<div id="templates">
</div>

<hr/>
<h2>Custom</h2>
<div id="custom">
</div>

<div style="clear: both">
</div>

                </div>
            </div>
        </div>
    </div>

<div id="dialog-delete-vms-confirm" title="Delete VMs" style="display: none">
<p><span class="icon-warning-sign icon-2x" style="float: left; margin: 0 15px 0px 0;"></span>
The selected VMs and all associated data will be deleted!  Are you sure?</p>
</div>

<div id="dialog-delete-templates-confirm" title="Delete templates" style="display: none">
<p><span class="icon-warning-sign icon-2x" style="float: left; margin: 0 15px 0px 0;"></span>
The selected templates and all associated data will be deleted!  Are you sure?</p>
</div>

    <footer class="clearfix simple">
        <div class="row">
	</div>
        <div class="constrain">
            <div id="legal">
                <ul class="footer-site-links">
                    <li><a class="icon-group" href="#">Forum</a></li>
                    <li><a class="icon-wrench" href="#">API</a></li>
                    <li><a class="icon-twitter" href="#">Twitter</a></li>
                    <li><a class="icon-comments" href="#">IRC</a></li>
                </ul>
                <p class="copyright">
                    Copyright 2013 <a href="http://www.ibm.com/">IBM, Corp</a>.<br>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
