#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2014
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#unicode UTF-8
#import gettext
#from Cheetah.Template import Template
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext

#silent ht = Template

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="plugins/kimchi/css/theme-default.min.css">
<script src="plugins/kimchi/js/kimchi.min.js"></script>
</head>
<body>
<div id="guests-root-container">
    <nav class="navbar navbar-default toolbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toolbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="toolbar">
                <ul class="nav navbar-nav navbar-right tools" display="none">
                    <li><a id="vm-add" class="btn-tool" href="javascript:void(0);"><i class="fa fa-plus-circle"></i><span>Add a Guest</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="guest-content-container">
        <div class="container">
            <div class="row grid-control hidden">
                <div class="pull-right">
                    <label for="guests-filter" class="sr-only">$_("Filter"):</label>
                    <input type="text" class="filter form-control" placeholder="$_("Filter")">
                </div>
            </div>        
        <div id="alert-container"></div>
            <div id="guestListField" style="display: none">
                <ul class="wok-guest-list">
                    <li class="wok-guest-list-header">
                      <span class="column-state"><span class="sr-only">$_("State")</span></span><!--
                      --><span class="column-name"><span>$_("Guest Name ID")</span></span><!--
                      --><span class="column-type"><span>$_("OS Type")</span></span><!--
                      --><span class="column-vnc"><span>$_("VNC")</span></span><!--
                      --><span class="column-processors"><span>$_("Processors Used")</span></span><!--
                      --><span class="column-memory"><span>$_("Memory Utilization")</span></span><!--
                      --><span class="column-storage"><span>$_("Storage I/O")</span></span><!--
                      --><span class="column-network"><span>$_("Network I/O")</span></span><!--
                      --><span class="column-action" style="display:none">
                          <span class="sr-only">Actions</span><!--
                      --></span>
                    </li>
                    <li class="wok-guest-list-body">
                        <ul id="guestList" class="wok-guest-list empty-when-logged-off" style="-webkit-padding-start: 0px;">
                    </li>
                </ul>
            </div>
            <div id="noGuests" class="list-no-result" style="display: none;">
                $_("No guests found.")
            </div>
        </div>
    </div>
<div id="modalWindow" class="modal fade host-modal guests-modal" tabindex="-1" role="dialog" aria-labelledby="guestsModalLabel" aria-hidden="true">
</div>
<div id="extendCreateTemplate" class="modal fade host-modal templates-modal" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel" aria-hidden="true">
</div>
<div id="extendCreateStorage" class="modal fade host-modal storage-modal" tabindex="-1" role="dialog" aria-labelledby="storageModalLabel" aria-hidden="true">
</div>
    <script id="guest-tmpl" type="kimchi/template">
    $ht(file=$data.ui_dir + "/pages/guest.html.tmpl", searchList=[self, {'lang':$lang}])
    </script>
    <script type="text/javascript">
        kimchi.guest_main();
    </script>
</div>
</body>
</html>
