#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2013-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
<div id="guest-add-window" class="window modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="guestsModalLabel">$_("Create a New Virtual Machine")</h4>
            </div>
            <div class="modal-body">
                <form id="form-vm-add">
                    <div class="guest-modal-container">
                        <div class="form-group">
                            <label for="guest-vm-name">$_("Virtual Machine Name")</label>
                            <input type="text" class="form-control" name="name" id="guest-vm-name" />
                            <p class="help-block"><i class="fa fa-info-circle"></i> $_("The name used to identify the virtual machine. If omitted, a name will be chosen based on the template used.")
                            </p>
                        </div>
                    </div>
                    <div class="guest-pager">
                        <div class="page-list">
                        <div class="page">
                            <div class="row">
                                    <div id="prompt-create-template" class="hidden">
                                        <p>$_("Please create a template first.")</p>
                                        <a id="btn-create-template" class="btn btn-primary" href="templates.html">$_("Create a Template")</a>
                                    </div>
                                    <p id="prompt-choose-template" class="hidden">$_("Please choose a template.")</p>
                            </div>
                            <ul id="templateTile" class="list-template tile-check tile-template">
                            </ul>
                                <script type="html/text" id="tmpl-template" class="tmpl-html">
                                    <li class="col-md-3">
                                        <label class="box-iso-outer">
                                            <input type="radio" name="template" value="/plugins/kimchi/templates/{name}" class="iso-radio-hidden">
                                            <span class="box-iso-border">
                                                <span class="box-iso-inner">
                                                    <h3 class="iso-title {os_distro}" title="{name}">{name}</h3>
                                                        <dl class="iso-info">
                                                            <dt>{os_distro}</dt>
                                                            <dd>$_("OS: ")</dd>
                                                            <dt>{os_version}</dt>
                                                            <dd>$_("Version: ")</dd>
                                                            <dt>{cpus}</dt>
                                                            <dd>$_("CPUS")</dd>
                                                            <dt>{memory}M</dt>
                                                            <dd>$_("Memory")</dd>
                                                        </dl>
                                                </span>
                                            </span>
                                        </label>
                                    </li>
                                </script>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    <div class="modal-footer">
            <button id="vm-doAdd" class="btn btn-default" disabled="disabled" href="javascript:void(0);">$_("Create")</button>
            <button id="vm-doAdding" class="btn btn-default" disabled="disabled" style="display:none" href="javascript:void(0);"><span class="wok-loading-icon"></span> $_("Creating...")</button>
            <button id="vm-add=cancel" class="btn btn-default" data-dismiss="modal" type="button">$_("Cancel")</button>
    </div>
</div>
<script>
    kimchi.guest_add_main();
</script>
</body>
</html>
