#*
 * Project Kimchi
 *
 * Copyright IBM, Corp. 2014-2015
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
{
    "Host": "$_("Host")",
    "Guests": "$_("Guests")",
    "Templates": "$_("Templates")",
    "Storage": "$_("Storage")",
    "Network": "$_("Network")",

    "KCHAPI6002E": "$_("Failed to get application configuration")",
    "KCHAPI6003E": "$_("This is not a valid Linux path")",
    "KCHAPI6004E": "$_("This is not a valid URL.")",
    "KCHAPI6008E": "$_("Unable to read file.")",
    "KCHAPI6009E": "$_("Error while uploading file.")",

    "KCHAPI6001M": "$_("Delete Confirmation")",
    "KCHAPI6002M": "$_("OK")",
    "KCHAPI6003M": "$_("Cancel")",
    "KCHAPI6004M": "$_("Confirm")",
    "KCHAPI6005M": "$_("Create")",
    "KCHAPI6006M": "$_("Warning")",
    "KCHAPI6007M": "$_("Save")",
    "KCHAPI6008M": "$_("Creating...")",
    "KCHAPI6009M": "$_("Cloning...")",

    "KCHTMPL6001W": "$_("No ISO found")",


    "KCHTMPL6002M": "$_("This may take a long time. Do you want to continue?")",
    "KCHTMPL6003M": "$_("This will permanently delete the template. Would you like to continue?")",


    "KCHVM6001M": "$_("This will delete the virtual machine and its virtual disks. This operation cannot be undone. Would you like to continue?")",
    "KCHVM6002M": "$_("Power off Confirmation")",
    "KCHVM6003M": "$_("This action may produce undesirable results, "
                      "for example unflushed disk cache in the guest. "
                      "Would you like to continue?")",
    "KCHVM6004M": "$_("Reset Confirmation")",
    "KCHVM6005M": "$_("There is a risk of data loss caused by reset without"
                      " the guest OS shutdown. Would you like to continue?")",
    "KCHVM6006M": "$_("Shut Down Confirmation")",
    "KCHVM6007M": "$_("Note the guest OS may ignore this request. Would you like to continue?")",
    "KCHVM6008M": "$_("Virtual Machine delete Confirmation")",
    "KCHVM6009M": "$_("This virtual machine is not persistent. Power Off will delete it. Continue?")",
    "KCHVM6010M": "$_("When the target guest has SCSI or iSCSI volumes, they will be cloned on default storage pool. The same will happen when the target pool does not have enough space to clone the volumes. Do you want to continue?")",

    "KCHVMCD6001M": "$_("This CDROM will be detached permanently and you can re-attach it. Continue to detach it?")",
    "KCHVMCD6002M": "$_("Attach")",
    "KCHVMCD6003M": "$_("Attaching...")",
    "KCHVMCD6009M": "$_("This disk will be detached permanently and you can re-attach it. Continue to detach it?")",

    "KCHVMED6001M": "$_("interface:")",
    "KCHVMED6002M": "$_("address:")",
    "KCHVMED6003M": "$_("link_type:")",
    "KCHVMED6004M": "$_("block:")",
    "KCHVMED6005M": "$_("drive_type:")",
    "KCHVMED6006M": "$_("model:")",
    "KCHVMED6007M": "$_("Affected devices:")",

    "KCHNET6001E": "$_("The VLAN id must be between 1 and 4094.")",

    "KCHNET6001M": "$_("unavailable")",
    "KCHNET6002M": "$_("This action will interrupt network connectivity for any virtual machine that depend on this network.")",
    "KCHNET6004M": "$_("This network is not persistent. Instead of stop, this action will permanently delete it. Would you like to continue?")",
    "KCHNET6001W": "$_("The bridged VLAN tag may not work well with NetworkManager enabled. You should consider disabling it.")",

    "KCHPOOL6001M": "$_("This will permanently delete the storage pool. Would you like to continue?")",
    "KCHPOOL6002M": "$_("This storage pool is empty.")",
    "KCHPOOL6003M": "$_("It will format your disk and you will loose any data in there, are you sure to continue? ")",
    "KCHPOOL6004M": "$_("SCSI Fibre Channel")",
    "KCHPOOL6005M": "$_("No SCSI adapters found.")",
    "KCHPOOL6006M": "$_("Loading iSCSI targets...")",
    "KCHPOOL6007M": "$_("No iSCSI found. Please input one.")",
    "KCHPOOL6008M": "$_("Failed to load iSCSI targets.")",

    "KCHPOOL6005E": "$_("Invalid NFS mount path.")",
    "KCHPOOL6006E": "$_("No logical device selected.")",
    "KCHPOOL6009E": "$_("This is not a valid Server Name or IP. Please, modify it.")",
    "KCHPOOL6011M": "$_("No available partitions found.")",
    "KCHPOOL6012M": "$_("This storage pool is not persistent. Instead of deactivate, this action will permanently delete it. Would you like to continue?")",
    "KCHPOOL6013M": "$_("Unable to retrieve partitions information.")",
    "KCHPOOL6014M": "$_("In progress...")",
    "KCHPOOL6015M": "$_("Failed!")",

    "KCHVMSTOR0001E": "$_("CDROM path needs to be a valid local/remote path and cannot be blank.")",
    "KCHVMSTOR0002E": "$_("Disk pool or volume cannot be blank.")"
}
