@DISTRO@ dependencies for Kimchi
================================

* [Build Dependencies](#development-dependencies)
* [Runtime Dependencies](#runtime-dependencies)

Development Dependencies
--------------------

    $ sudo -H pip3 install -r requirements-dev.txt
    $ sudo @PKG_MGNT_TOOL@ @DEV_DEPS@

Runtime Dependencies
--------------------

    $ sudo -H pip3 install -r requirements-@DISTRO@.txt
    $ sudo @PKG_MGNT_TOOL@ @RUNTIME_DEPS@
